<div class="breadcrumbs <?php echo $this->is_desktop ? 'breadcrumbs-fixed' : '' ?>" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <?php echo $this->navigation()->breadcrumbs()->setLinkLast(false)->setMinDepth(0)->render(); ?>
        </li>
    </ul>

    <?php if($this->currentUser->role != Application_Model_DbTable_Users::USER_CRM): ?>
        <div id="nav-search" class="nav-search">
            <?php if($this->is_desktop): ?>
                <?php echo strftime("%B %d, %I:%M %p", strtotime($this->currentUser->last_update)) ?>
            <?php else: ?>
                <?php echo strftime("%I:%M %p", strtotime($this->currentUser->last_update)) ?>
            <?php endif; ?>

            <button class="btn btn-success btn-xs" id="update-data-btn" title="Refresh Data">
                <i class="icon-refresh  bigger-110 icon-only"></i>
            </button>
        </div>
    <?php endif; ?>
</div>

<div id="update-data-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body no-padding">
                <div class="center">
                    <div id="spinner-modal-content"></div>
                    <h3>Please wait while we are loading your new data</h3>
                </div>
                <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal"
                    onclick="updateCancel();">
                    <i class="icon-remove"></i>
                    Cancel
                </button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        //Run only if function defined. On pages overview, summary:
        if(typeof refreshPage != 'undefined' && $.isFunction(refreshPage)) {
            setInterval(function() {
                refreshPage('<?php echo $this->currentUser->last_update ?>');
            }, 300000); //run every 5 minutes
        }

        <?php if($this->notification): ?>
            var centerNotification = <?php echo $this->notification == 'success' ? 1 : 0 ?>;
            showNotification("<?php echo $this->notificationText ?>", 'Update statistics', true, centerNotification);
        <?php endif; ?>


        <?php if($this->currentUser && $this->currentUser->need_update): ?>
            updateData();
        <?php endif; ?>

        <?php if($this->currentUser->show_notifications && $this->connectAffiliate): ?>
            <?php foreach($this->connectAffiliate as $key => $affiliate): ?>
                <?php $affiliates[] = $affiliate['name']; $key++;?>
                <?php if($key == 3) break; ?>
            <?php endforeach; ?>
            <?php $affiliateNames = implode(', ', $affiliates); ?>

            <?php if(count($this->connectAffiliate) != 1): ?>
                <?php $affiliateNames .= ' and other are'; ?>
            <?php else: ?>
                <?php $affiliateNames .= ' is'; ?>
            <?php endif; ?>

            showNotification('<?php echo $affiliateNames ?> receiving revenue but has not been paired yet. <a href="/wizard/pairing">Set up now</a>', 
                'Connect Affiliate Networks', true);
        <?php endif; ?>
    })
</script>