<a href="#" id="menu-toggler" class="menu-toggler">
    <span class="menu-text"></span>
</a>

<div class="sidebar <?php echo $this->is_desktop ? 'sidebar-fixed' : '' ?>" id="sidebar">
<?php /*$this->navigation()->menu()->setPartial('menu/menu.phtml');
echo $this->navigation()->menu()->render();*/?>
    
    <ul class="nav nav-list">
        <li <?php echo ($this->page == 'dashboard') ? "class='active'" : '' ?>>
            <a href="/accounting/summary">
                <i class="icon-dashboard"></i>
                <span class="menu-text"> Dashboard </span>
            </a>
        </li>
        <li <?php echo ($this->page == 'overview') ? "class='active'" : '' ?>>
            <a href="/accounting/overview">
                <i class="icon-bar-chart"></i>
                <span class="menu-text"> Reporting </span>
            </a>
        </li>

        <?php if($this->currentUser->role != Application_Model_DbTable_Users::USER_ACC): ?>
            <li <?php echo in_array($this->page, array('fields', 'forms', 'clients', 'crm_overview', 'crm_contacts')) ? "class='active open'" : '' ?>>
                <a href="#" class="dropdown-toggle">
                    <i class="icon-group"></i>
                    <span class="menu-text"> CRM </span>
                    <b class="arrow icon-angle-down"></b>
                </a>
                <ul class="submenu">
                    <li <?php echo $this->page == 'crm_overview' ? "class='active open'" : '' ?>>
                         <a href="/crm/overview">
                            <i class="icon-double-angle-right"></i>
                            Overview
                        </a>
                    </li>
                    <li <?php echo $this->page == 'crm_contacts' ? "class='active open'" : '' ?>>
                         <a href="/crm/contacts">
                            <i class="icon-double-angle-right"></i>
                            Contacts
                        </a>
                    </li>
                    <li <?php echo in_array($this->page, array('fields', 'forms')) ? "class='active open'" : '' ?>>
                         <a href="#" class="dropdown-toggle">
                            <i class="icon-double-angle-right"></i>
                            <span class="menu-text">Fields & Forms</span>
                            <b class="arrow icon-angle-down"></b>
                         </a>
                        <ul class="submenu">
                            <li <?php echo ($this->page == 'fields') ? "class='active open'" : '' ?>>
                                <a href="/crm/fields">Fields</a>
                            </li>
                            <li <?php echo ($this->page == 'forms') ? "class='active open'" : ''?>>
                                <a href="/crm/forms">Forms</a>
                            </li>
                        </ul>
                    </li>
                    <li <?php echo $this->page == 'clients' ? "class='active open'" : '' ?>>
                         <a href="/crm/clients">
                            <i class="icon-double-angle-right"></i>
                            Clients
                        </a>
                    </li>
                    <li>
                         <a href="#">
                            <i class="icon-double-angle-right"></i>
                            Settings
                        </a>
                    </li>
                </ul>
            </li>
        <?php endif; ?>

        <li <?php echo in_array($this->page, array('upload-targets')) ? "class='active open'" : '' ?>>
            <a href="#" class="dropdown-toggle">
               <i class="icon-wrench"></i>
               <span class="menu-text">Tools</span>
               <b class="arrow icon-angle-down"></b>
            </a>
           <ul class="submenu">
               <li <?php echo ($this->page == 'upload-targets') ? "class='active open'" : '' ?>>
                   <a href="/crm/upload-targets">Traffic Vance</a>
               </li>
           </ul>
       </li>

        <li <?php echo in_array($this->page, array('user-profile', 'campaign-list', 'wizard-settings', 'notifications-overview', 'notification-create')) ? "class='active open'" : '' ?>>
            <a href="#" class="dropdown-toggle">
                <i class="icon-cogs"></i>
                <span class="menu-text"> Settings </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li <?php echo $this->page == 'user-profile' ? "class='active'" : '' ?>>
                    <a href="/user/profile">
                        <i class="icon-double-angle-right"></i>
                        Profile
                    </a>
                </li>
                <li <?php echo $this->page == 'campaign-list' ? "class='active'" : '' ?>>
                    <a href="/accounting/campaign-list">
                        <i class="icon-double-angle-right"></i>
                        Campaigns
                    </a>
                </li>
                <li <?php echo $this->page == 'wizard-settings' ? "class='active'" : '' ?>>
                    <a href="/wizard/settings">
                        <i class="icon-double-angle-right"></i>
                        Accounts
                    </a>
                </li>
                <li <?php echo $this->page == 'notifications-overview' ? "class='active'" : '' ?>>
                    <a href="/notifications/overview">
                        <i class="icon-double-angle-right"></i>
                        Notifications
                    </a>
                </li>
            </ul>
        </li>
 
        <?php if($this->currentUser->role == 'admin'): ?>
            <li <?php echo in_array($this->page, array('users', 'user')) ? "class='active open'" : '' ?>>
                <a href="#" class="dropdown-toggle">
                    <i class="icon-group"></i>
                    <span class="menu-text"> Users</span>
                    <b class="arrow icon-angle-down"></b>
                </a>

                <ul class="submenu">
                    <li <?php echo $this->page == 'users' ? "class='active'" : '' ?>>
                        <a href="/adminpanel/users">
                            <i class="icon-double-angle-right"></i>
                            Show Users
                        </a>
                    </li>
                    <li <?php echo $this->page == 'user' ? "class='active'" : '' ?>>
                        <a href="/adminpanel/edit-user">
                            <i class="icon-double-angle-right"></i>
                            Add new User
                        </a>
                    </li>
                </ul>
            </li>
        <?php endif; ?>
    </ul>

    <div id="sidebar-collapse" class="sidebar-collapse">
        <i data-icon2="icon-double-angle-right" data-icon1="icon-double-angle-left" class="icon-double-angle-left"></i>
    </div>
    <script type="text/javascript">
        //remove this comment and following code to show the left menu depends on user choise
        //try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
        $(function() {
            ace.settings.sidebar_collapsed(true);
        })
    </script>
</div>