<ul class="nav nav-list">

<?php

$html = array();
foreach ($this->container as $page) {
    if (!empty($page->pages)) {
        foreach ($page->pages as $subpage) 
        {
            $html[] = "<li>";
            if (empty($subpage->pages)) {
                $html[] = "<a href=\"{$subpage->getHref()}\">";
            } else {
                $html[] = '<a href="#" class="dropdown-toggle">';
            }

            if($subpage->get('icon')) {
                $html[] = '<i class="' . $subpage->get('icon') . '"></i>';
            }

            $html[] = '<span class="menu-text">' . $subpage->getLabel() . '</span>';
            if (!empty($subpage->pages)) {
                $html[] = '<b class="arrow icon-angle-down"></b>';
            }
            $html[] = "</a>";
            
            if (!empty($subpage->pages)) {
                $html[] = '<ul class="submenu">';
                foreach($subpage->pages as $subpage2) {
                    $html[] = '<li>';
                    $html[] = '<a href="' . $subpage2->getHref() . '">';
                    $html[] = '<i class="icon-double-angle-right"></i>';
                    $html[] = $subpage2->getLabel();
                    $html[] = '</a></li>';
                }
                $html[] = '</ul>';
            }
            $html[] = "</li>";
        }
    }
}

echo join(PHP_EOL, $html);
?>
</ul>