<?php $this->headTitle('Clients'); ?>
<div class="page-header position-relative">
    <h1>Clients</h1>
</div>
<h4 class="lighter">
    <a href="/crm/client">Create new Client</a>
</h4>

<?php if($this->clientsList->count()): ?>
    <table class="table table-hover table-bordered" id="clients-list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Display name</th>
                <th>Form</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Timezone</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($this->clientsList as $client): ?>
                <tr>
                    <td>
                        <?php echo $client->id; ?>
                    </td>
                    <td>
                        <?php echo $client->display_name; ?>
                    </td>
                    <td>
                        <?php echo $this->forms[$client->form_id]; ?>
                    </td>
                    <td><?php echo $client->email?></td>
                    <td><?php echo $client->phone?></td>
                    <td><?php echo $client->timezone?></td>
                    <td>
                        <a href="#" class="label client_status" data-type="select" data-pk="<?php echo $client->id; ?>" data-value="<?php echo $client->status; ?>">
                            <?php echo $client->status; ?>
                        </a>
                    </td>
                    <td>
                        <a alt="Edit" class="btn btn-xs btn-info" href="/crm/edit-client/id/<?php echo $client->id; ?>" title="Edit Client" data-rel="tooltip">
                            <i class="icon-edit bigger-120"></i>
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <?php if($this->clientsList->count() > 1): ?>
        <?php echo $this->paginationControl($this->clientsList, 'Sliding', '/paginator/paginator.phtml'); ?>
    <?php endif; ?>
<?php endif; ?>

<?php $this->headScript()->captureStart(); ?>
    $(function() {
        $('.client_status').editable({
            url: '/crm/client',
            type: 'text',
            source: [
                {value: 'active', text: 'Active'},
                {value: 'testing', text: 'Testing Mode'},
                {value: 'deactive', text: 'Deactivated'}
            ],
            params: function(params) {
                params.edit = 1;
                params.status = params.value;
                params.id = params.pk;
                return params;
            },
            display: function(value, sourceData) {
                if(!value) {
                    return;
                }
                var colors = {"active": "label-success", 'testing': "label-warning", 'deactive': "label-danger"};
                var elem = $.grep(sourceData, function(o){return o.value == value;});

                if(elem.length) {
                    var oldClass = $(this).attr('class').match(/label-[^\s]+/i); //find old class
                    oldClass = oldClass ? oldClass[0] : '';
                    $(this).text(elem[0].text).removeClass(oldClass).addClass(colors[value]); 
                } else {
                    $(this).empty(); 
                }
           } 
        });
    });
<?php $this->headScript()->captureEnd(); ?>