<script>
    var formId = <?php echo $this->client ? $this->client->form_id : 0 ?>;
</script>

<?php $this->headTitle('Client'); ?>

<?php $this->headLink()->appendStylesheet('/assets/css/bootstrap-timepicker.css') ?>
<?php $this->headScript()->appendFile('/assets/js/fuelux/fuelux.spinner.min.js') ?>
<?php $this->headScript()->appendFile('/assets/js/date-time/bootstrap-timepicker.min.js') ?>
<?php $this->headScript()->appendFile('/assets/js/date-time/moment.min.js') ?>
<?php $this->headScript()->appendFile('/assets/js/fuelux/fuelux.wizard.min.js') ?>
<?php $this->headScript()->appendFile('/assets/js/jquery.nestable.min.js') ?>
<?php $this->headScript()->appendFile('/assets/js/client.js') ?>


<div class="row">
    <div class="col-md-12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="lighter">
                    <?php echo $this->changePriority ? 'Clients Priority' : 
                        ($this->client ? 'Edit Client' : 'Create new Client') ?>
                </h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row-fluid">
                        <?php if($this->changePriority || $this->success): ?>
                            <?php if($this->success): ?>
                                <div class="alert alert-block alert-success" id="saved">
                                    <p>
                                        <strong>
                                            <i class="icon-ok"></i>
                                            Well done!
                                        </strong>
                                        Your changes was successfully saved!
                                    </p>
                                </div>
                            <?php endif; ?>

                            <?php if($this->changePriority): ?>
                                <h3 class="lighter">Update Clients Priority for form <?php echo $this->clientsForm->title ?></h3>
                                <div class="dd dd-draghandle" id="update-clients-priority">
                                    <ol class="dd-list">
                                        <?php foreach($this->clientsList as $client): ?>
                                            <li class="dd-item dd2-item" data-id="<?php echo $client->id ?>">
                                                <div class="dd-handle dd2-handle">
                                                    <i class="normal-icon icon-user red bigger-130"></i>

                                                    <i class="drag-icon icon-move bigger-125"></i>
                                                </div>
                                                <div class="dd2-content">
                                                    <?php echo $client->display_name ?>
                                                    <div class="pull-right action-buttons">
                                                        <?php if(empty($this->clientsFilters[$client->id][$this->zipId])): ?>
                                                            <i class="icon-globe green bigger-130" data-rel="tooltip" title="Nationwide"></i>
                                                        <?php else: ?>
                                                            <?php $states = json_decode($this->clientsFilters[$client->id][$this->zipId]['search_value']); ?>
                                                            <?php echo implode(', ', $states); ?>
                                                        <?php endif; ?>
                                                    </div>
                                                </div>
                                            </li>
                                        <?php endforeach; ?>
                                    </ol>
                                </div>

                                <form method="post">
                                    <input type="hidden" name="clients_priority" id="clients_priority">
                                    <hr />
                                    <div class="row-fluid wizard-actions">
                                        <a href="/crm/clients" class="btn btn-danger">
                                            <i class="icon-remove"></i>
                                            Cancel
                                        </a>

                                        <button type="submit" class="btn btn-success">
                                            <i class="icon-arrow-right icon-save"></i>
                                            SAVE
                                        </button>
                                    </div>
                                </form>
                            <?php endif; ?>
                        <?php else: ?>
                            <div id="fuelux-wizard" class="row-fluid" data-target="#step-container">
                                <ul class="wizard-steps">
                                    <li data-target="#step1" class="active">
                                        <span class="step">1</span>
                                        <span class="title">General Information</span>
                                    </li>

                                    <li data-target="#step2">
                                        <span class="step">2</span>
                                        <span class="title">Filters Configuration</span>
                                    </li>

                                    <li data-target="#step3">
                                        <span class="step">3</span>
                                        <span class="title">Caps & Delivery Times</span>
                                    </li>

                                    <li data-target="#step4">
                                        <span class="step">4</span>
                                        <span class="title">Delivery Settings</span>
                                    </li>
                                </ul>
                            </div>

                            <hr />
                            <div class="step-content row-fluid position-relative" id="step-container">
                                <form class="form-horizontal" id="create-client-form" method="post" action="/crm/client">
                                    <div class="step-pane active" id="step1">
                                        <h4 class="lighter block">Client's general information</h4>
                                        <?php echo $this->form->getSubForm('client_general') ?>
                                    </div>

                                    <div class="step-pane" id="step2">
                                        <div class="row-fluid">
                                            <a href="#modal-filter" data-toggle="modal" class="btn btn-sm btn-info">
                                                <i class="icon-plus"></i>
                                                Add Filter
                                            </a>
                                            <div class="space-6"></div>
                                            <table class="table table-bordered table-hover" id="filter-list">
                                                <thead>
                                                    <tr>
                                                        <th>Type</th>
                                                        <th>Field</th>
                                                        <th>Where</th>
                                                        <th>Value</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php $selectedStates = array(); ?>
                                                    <?php if($this->currentFilters): ?>
                                                        <?php foreach($this->currentFilters as $filter): ?>
                                                            <tr id="filter-<?php echo $filter->id; ?>" class="<?php echo $filter->field_id; ?>_<?php echo $filter->criteria?>">
                                                                <td><?php echo ucfirst($filter->type) ?></td>
                                                                <td><?php echo $this->fields[$filter->field_id] ?></td>
                                                                <td>
                                                                    <?php echo $this->filterCriteria[$filter->criteria] ?>
                                                                </td>
                                                                <td>
                                                                    <?php if($filter->multi): ?>
                                                                        <?php $searchValueRaw = json_decode($filter->search_value); ?>

                                                                        <?php if($filter->field_id == 8): ?>
                                                                            <?php $selectedStates = array_fill_keys(array_values($searchValueRaw), '') ?>
                                                                        <?php endif; ?>

                                                                        <?php echo implode(', ', $searchValueRaw); $searchValue = implode(',', $searchValueRaw) ?>
                                                                    <?php else: ?>
                                                                        <?php echo $searchValue = $filter->search_value ?>
                                                                    <?php endif; ?>
                                                                </td>
                                                                <td><a href="#" class="remove_filter">Remove</a></td>

                                                                <input type="hidden" name="filters[<?php echo $filter->id; ?>][type]" value="<?php echo $filter->type ?>">
                                                                <input type="hidden" name="filters[<?php echo $filter->id; ?>][field_id]" value="<?php echo $filter->field_id; ?>" class="filter_field_id">
                                                                <input type="hidden" name="filters[<?php echo $filter->id; ?>][criteria]" value="<?php echo $filter->criteria ?>">
                                                                <input type="hidden" name="filters[<?php echo $filter->id; ?>][search_value]" value="<?php echo $searchValue ?>">
                                                            </tr>
                                                        <?php endforeach; ?>
                                                    <?php endif; ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="step-pane" id="step3">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <?php echo $this->form->cap_enabled?>

                                                <div id="cap-element">
                                                    <div class="space-6"></div>
                                                    <?php $capSubForm = $this->form->getSubForm('cap'); ?>
                                                    <?php $capSubForm->setElementsBelongTo('cap'); ?>

                                                    <?php echo $capSubForm->regularity ?>
                                                    <?php echo $capSubForm->criteria ?>

                                                    <fieldset id="fieldset-all" class="cap-options">
                                                        <?php echo $capSubForm->all ?>
                                                    </fieldset>

                                                    <fieldset id="fieldset-state" class="cap-options">
                                                        <div class="form-group" id="cap_state_list-div">
                                                            <table class="table table-hover table-bordered" id="cap_state_list">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Enable</th>
                                                                        <th>State</th>
                                                                        <th>Cap Number</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <?php $stateOptions = !$capSubForm->states->getValue() ? $selectedStates : $capSubForm->states->getValue()?>
                                                                    <?php if($stateOptions): ?>
                                                                        <?php foreach($stateOptions as $state => $limit): ?>
                                                                            <tr>
                                                                                <td><input type="checkbox" class="cap_state_enable" name="cap[enable][<?php echo $state ?>]" <?php if($limit){?>checked="checked" <?php } ?>></td>
                                                                                <td><?php echo $this->states[trim($state)]?></td>
                                                                                <td>
                                                                                    <input type="text" name="cap[states][<?php echo $state ?>]" value="<?php echo $limit ?>" <?php if(!$limit){ ?>disabled="disabled" <?php } ?>>
                                                                                </td>
                                                                            </tr>
                                                                        <?php endforeach; ?>
                                                                    <?php endif; ?>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </fieldset>

                                                    <hr>
                                                    <?php echo $capSubForm->capped_delivery ?>
                                                    <div class="col-lg-offset-2 col-sm-9">
                                                        <?php echo $capSubForm->capped_delivery_interval ?> Minutes
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <?php echo $this->form->timed_delivery_enabled?>

                                                <div id="timed_delivery-element">
                                                    <div class="space-6"></div>
                                                    <?php $timedDeliverySubForm = $this->form->getSubForm('timed_delivery'); ?>
                                                    <?php $timedDeliverySubForm->setElementsBelongTo('timed_delivery'); ?>
                                                    <?php echo $timedDeliverySubForm->weekdays; ?>

                                                    <div class="form-group">
                                                        <div class="col-lg-offset-2">
                                                            Deliver leads between<br>
                                                            <div class="input-group bootstrap-timepicker col-lg-3">
                                                                <?php echo $timedDeliverySubForm->begin ?>
                                                                <span class="input-group-addon">
                                                                    <i class="icon-time bigger-110"></i>
                                                                </span>
                                                            </div>
                                                            <div class="input-group bootstrap-timepicker col-lg-3">
                                                                <?php echo $timedDeliverySubForm->stop ?>
                                                                <span class="input-group-addon">
                                                                    <i class="icon-time bigger-110"></i>
                                                                </span>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>

                                                        <hr>
                                                        <?php echo $timedDeliverySubForm->postpone_delivery ?>
                                                        <div class="col-lg-offset-2 col-sm-9">
                                                            in intervals of
                                                            <?php echo $timedDeliverySubForm->postpone_delivery_interval ?> Minutes
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="step-pane" id="step4">
                                        <div class="row-fluid">
                                            <?php $deliverySubForm = $this->form->getSubForm('delivery'); ?>
                                            <?php $deliverySubForm->setElementsBelongTo('delivery'); ?>
                                            <?php echo $deliverySubForm->type ?>

                                            <fieldset class="delivery_options" id="fieldset-post_delivery">
                                                <?php echo $deliverySubForm->url ?>
                                                <?php echo $deliverySubForm->response_filter ?>

                                                <div class="form-group" id="response_filter_options">
                                                    <div class="col-lg-offset-2">
                                                        If the API response 
                                                        <?php echo $deliverySubForm->response_criteria ?>
                                                        <div class="input-cover-inline">
                                                            <?php echo $deliverySubForm->response_value ?>
                                                        </div>
                                                        then the lead has been sold
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <fieldset class="delivery_options" id="fieldset-email_delivery">
                                                <div class="form-group email_delivery">
                                                    <label class="control-label no-padding-right col-sm-2" for="delivery-emails">Delivery Emails</label>
                                                    <div class="col-sm-9">
                                                        <a id="add_delivery_email" class="btn btn-success btn-xs">
                                                            <i class="icon-plus bigger-110 icon-only"></i>
                                                        </a>
                                                        <?php if($this->deliveryEmails): ?>
                                                            <?php foreach($this->deliveryEmails as $key => $deliveryEmail): ?>
                                                                <input type="text" name="delivery[emails][]" value="<?php echo $deliveryEmail ?>" class="required email" id="delivery_email_<?php echo $key+1 ?>"/>
                                                            <?php endforeach; ?>
                                                        <?php else: ?>
                                                            <input type="text" name="delivery[emails][]" class="required email" id="delivery_email_1"/>
                                                        <?php endif; ?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <?php echo $deliverySubForm->sender_email ?>
                                                <?php echo $deliverySubForm->subject ?>
                                            </fieldset>

                                            <hr>
                                            <fieldset id="fieldset-delivery_options">
                                                <h4 class="lighter block inline">
                                                    Delivery fields
                                                    <a class="btn btn-sm addDeliveryField">Add Field</a>
                                                </h4>

                                                <div class="dd dd-draghandle" id="delivery_fields_list">
                                                    <ol class="dd-list">
                                                        <li class="dd-item dd2-item">
                                                            <div class="dd-handle dd2-handle dd2-handle-high">
                                                                <i class="normal-icon icon-edit red bigger-130"></i>
                                                                <i class="drag-icon icon-move bigger-125"></i>
                                                            </div>
                                                            <div class="dd2-content" id="delivery_field_row_1">
                                                                <input type="checkbox" class="disable_field" value="1" name="delivery[disable_fields]">
                                                                <select id="delivery_field_1" name="delivery[delivery_fields][id][]" disabled="disabled">
                                                                </select>
                                                                <input type="text" name="delivery[delivery_fields][alternative_name][]" disabled="disabled">
                                                            </div>
                                                        </li>
                                                        <?php if($this->deliveryFields): ?>
                                                            <?php $key = 2; ?>
                                                            <?php foreach($this->deliveryFields as $fieldId => $alterName): ?>
                                                                <li class="dd-item dd2-item">
                                                                    <div class="dd-handle dd2-handle dd2-handle-high">
                                                                        <i class="normal-icon icon-edit red bigger-130"></i>
                                                                        <i class="drag-icon icon-move bigger-125"></i>
                                                                    </div>
                                                                    <div class="dd2-content old_delivery_fields" id="delivery_field_row_<?php echo $key; ?>">
                                                                        <input type="checkbox" checked="checked" class="disable_field" value="1" name="delivery[disable_fields]">
                                                                        <select id="delivery_field_<?php echo $key ?>" name="delivery[delivery_fields][id][]">
                                                                            <?php foreach($this->formFields as $formFieldId => $field): ?>
                                                                                <option value="<?php echo $formFieldId ?>" <?php if($fieldId == $formFieldId){ ?>selected="selected"<?php } ?>>
                                                                                    <?php echo $field ?>
                                                                                </option>
                                                                            <?php endforeach; ?>
                                                                        </select>
                                                                        <input type="text" name="delivery[delivery_fields][alternative_name][]" value="<?php echo $alterName ?>">
                                                                    </div>
                                                                </li>
                                                                <?php $key ++ ?>
                                                            <?php endforeach; ?>
                                                        <?php endif; ?>
                                                    </ol>
                                                </div>
                                                <hr>

                                                <h4 class="lighter block">Add Static variables</h4>
                                                <table id="static_fields_list" class="table table-no-border">
                                                    <?php if($this->staticFields) : ?>
                                                        <?php foreach($this->staticFields as $key => $staticField): ?>
                                                            <tr id="static_field_row_<?php echo $key ?>">
                                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                                <td>
                                                                    <input type="text" name="delivery[static_fields][<?php echo $key?>][name]" value="<?php echo $staticField['name']?>" class="static_field_name">
                                                                </td>
                                                                <td>
                                                                    <input type="text" name="delivery[static_fields][<?php echo $key?>][value]" value="<?php echo $staticField['value']?>" class="static_field_value">
                                                                </td>
                                                                <td>
                                                                    <?php if($key == count($this->staticFields)): ?>
                                                                        <a class="btn btn-sm addStaticField">Add Field</a>
                                                                    <?php endif; ?>
                                                                </td>
                                                            </tr>
                                                        <?php endforeach; ?>
                                                    <?php else: ?>
                                                        <tr id="static_field_row_1">
                                                            <td>&nbsp;&nbsp;</td>
                                                            <td>
                                                                <input type="text" name="delivery[static_fields][1][name]" class="static_field_name">
                                                            </td>
                                                            <td>
                                                                <input type="text" name="delivery[static_fields][1][value]" class="static_field_value">
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-sm addStaticField">Add Field</a>
                                                            </td>
                                                        </tr>
                                                    <?php endif; ?>
                                                </table>
                                            </fieldset>

                                            <fieldset id="fieldset-linktrust_options">
                                                <div id="accordion" class="accordion-style1 panel-group">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                                    <i class="icon-angle-right bigger-110" data-icon-show="icon-angle-right" data-icon-hide="icon-angle-down"></i>
                                                                    Link Trust Tracking
                                                                </a>
                                                            </h4>
                                                        </div>

                                                        <div class="panel-collapse collapse" id="collapseOne">
                                                            <div class="panel-body">
                                                               <?php echo $deliverySubForm->link_trust_uri ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <hr />
                            <div class="row-fluid wizard-actions">
                                <a href="/crm/clients" class="btn btn-danger">
                                    <i class="icon-remove"></i>
                                    Cancel
                                </a>

                                <button class="btn btn-prev">
                                    <i class="icon-arrow-left"></i>
                                    Prev
                                </button>

                                <button class="btn btn-success btn-next" data-last="Finish">
                                    Next
                                    <i class="icon-arrow-right icon-on-right"></i>
                                </button>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-filter" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="span3">Criteria</th>
                        <th>Configuration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li>
                                    <a href="#" class="filter_switch" data-filter="search_data_filter">Search Field Data</a>
                                </li>
                                <li>
                                    <a href="#" class="filter_switch" data-filter="zip_filter">Zip Code</a>
                                </li>
                                <li>
                                    <a href="#" class="filter_switch" data-filter="state_filter">State</a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <form id="add-fiter" method="post" class="form-horizontal">
                                <?php echo $this->form->getSubForm('search_data_filter');?>
                                <?php echo $this->form->getSubForm('zip_filter');?>
                                <?php echo $this->form->getSubForm('state_filter');?>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" data-dismiss="modal">
                    <i class="icon-remove"></i>
                    Cancel
                </button>
                <button class="btn btn-success btn-sm" id="save-filter">
                    <i class="icon-save"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>