    <?php $this->headTitle('Contacts - CRM')?>
<div class="page-header position-relative">
    <h1>Contacts</h1>
</div>
<?php $this->headScript()->prependFile('/assets/js/jqGrid/jquery.jqGrid.min.js'); ?>
<?php $this->headScript()->prependFile('/assets/js/jqGrid/i18n/grid.locale-en.js'); ?>
<div class="row">
        <div class="col-md-12">
            <div>
                <h4 class="inline blue lighter">Filter:</h4>
                <select id="filter-data" name="filter-data" onchange="gridReload()">
                    <option>Select Filter</option>
                    <optgroup label="Global">
                        <option data-field="date" value="today">&nbsp;&nbsp;Added Today</option>
                        <option data-field="date" value="yesterday">&nbsp;&nbsp;Added Yesterday</option>
                        <option data-field="sold" value="0">&nbsp;&nbsp;Unsold</option>
                    </optgroup>
                    <?php if($this->clients): ?>
                        <optgroup label="Clients">
                            <?php foreach($this->clients as $clientId => $client): ?>
                                <option data-field="client_id" value="<?php echo $clientId; ?>">&nbsp;&nbsp;<?php echo $client ?></option>
                            <?php endforeach; ?>
                        </optgroup>
                    <?php endif; ?>
                    <?php if($this->forms): ?>
                        <optgroup label="Forms">
                            <?php foreach($this->forms as $formId => $form): ?>
                                <option data-field="form_id" value="<?php echo $formId; ?>">&nbsp;&nbsp;<?php echo $form ?></option>
                            <?php endforeach; ?>
                        </optgroup>
                    <?php endif; ?>
                </select>

                <div class="btn-group">
                    <button class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <span class="icon-caret-down icon-on-right"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-info pull-right">
                        <li>
                            <a href="#modal-select-fields" data-toggle="modal">
                                Show additional fields
                             </a>
                        </li>

                        <li>
                           <a href="#modal-duplicate-settings" data-toggle="modal">Delete duplicates</a>
                        </li>

                        <li>
                           <a href="#modal-deliver-leads" data-toggle="modal">Deliver Leads</a>
                        </li>

                        <li>
                           <a href="#" onclick="exportCsv()">Export to .CSV</a>
                        </li>
                    </ul>
                </div>
            </div>

            <table id="grid-table"></table>
            <div id="grid-pager"></div>

        </div>
    </div>
</div>

<div id="modal-select-fields" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/crm/contacts" method="post" class="modal-form" id="select-fields-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="blue bigger">Select fields</h3>
                </div>
                <div class="modal-body overflow-visible">
                    <select id="select-fields" name="select-fields[]" multiple="multiple" class="chosen-select">
                        <option value="form_id" <?php if(in_array('form_id', $this->viewFields)){?>selected="selected"<?php } ?>>Form</option>
                        <option value="client_id" <?php if(in_array('client_id', $this->viewFields)){?>selected="selected"<?php } ?>>Solt To</option>
                        <option value="response" <?php if(in_array('response', $this->viewFields)){?>selected="selected"<?php } ?>>XML Response</option>
                        <?php foreach($this->fields as $fieldId => $field): ?>
                        <option value="<?php echo $fieldId ?>" <?php if(in_array($fieldId, $this->viewFields)){?>selected="selected"<?php } ?>>
                            <?php echo $field ?>
                        </option>
                        <?php endforeach; ?>
                    </select>
                    <input type="hidden" name="fields-update" value="1">
                    <input type="hidden" name="show-fields" id="show-fields">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" data-dismiss="modal">
                        <i class="icon-remove"></i>
                        Cancel
                    </button>
                    <button class="btn btn-success btn-sm" id="select-fields-btn" type="submit">
                        <i class="icon-save"></i>
                        Save and Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-duplicate-settings" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/crm/contacts" method="post" class="form-horizontal modal-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="blue bigger">Deduplication settings</h3>
                </div>
                <div class="modal-body overflow-visible">
                    <div class="control-group">
                        <input id="enable-delete-duplicats" class="ace" type="checkbox">
                        <label class="lbl" for="enable-delete-duplicats">Enable Duplication Settings</label>
                    </div>

                    <div id="duplicate-settings" class="hide">
                        <?php for($i=1; $i<=3; $i++): ?>
                            <div class="control-group">
                                <label for="duplicate-field_<?php echo $i?>" class="control-label">Match on Field <?php echo $i?>:</label>
                                <div class="controls">
                                    <select id="duplicate-field_<?php echo $i?>" name="duplicate-field[<?php echo $i?>]" class="chosen-select">
                                        <option value="">Select Field</option>
                                        <?php foreach($this->fields as $fieldId => $field): ?>
                                            <option value="<?php echo $fieldId ?>"><?php echo $field ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        <?php endfor; ?>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" data-dismiss="modal">
                        <i class="icon-remove"></i>
                        Cancel
                    </button>
                    <button class="btn btn-success btn-sm" type="submit">
                        <i class="icon-save"></i>
                        Save
                    </button>
                    <input type="hidden" name="delete-duplicates" value="1">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-deliver-leads" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/crm/leads-operations" method="post" class="form-horizontal" id="deliver_leads_form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="blue bigger">Select the Client</h3>
                </div>
                <div class="modal-body overflow-visible">
                    <div class="form-group">
                        <select id="deliver_leads_client_id" name="client_id" class="chosen-select required">
                            <option value="">Select client</option>
                            <?php foreach($this->clients as $clientId => $client): ?>
                                <option value="<?php echo $clientId ?>">
                                    <?php echo $client ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" data-dismiss="modal">
                        <i class="icon-remove"></i>
                        Cancel
                    </button>
                    <button class="btn btn-success btn-sm" id="select-fields-btn" type="submit">
                        <i class="icon-save"></i>
                        Deliver
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-lead-details" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="blue bigger">Lead Details</h3>
            </div>
            <div class="modal-body" id="lead-details"></div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" data-dismiss="modal">
                    <i class="icon-remove"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    var column_list = [];
    var col_num = 3;

    <?php foreach($this->viewFields as $fieldId):?>
        column_list[col_num] = '<?php echo $fieldId ?>';
        col_num ++;
    <?php endforeach; ?>

    $(function() {
        $('#deliver_leads_form').validate(validationOptions);
        $('.chosen-select').chosen({ width: '300px' });
        $('#deliver_leads_client_id_chosen').after($('#deliver_leads_client_id'));

        $('#enable-delete-duplicats').click(function() {
            $('#duplicate-settings').addClass('hide');
            if($(this).is(':checked')) {
                $('#duplicate-settings').removeClass('hide');
            }
        })

        $('#select-fields-btn').click(function(e) {
            e.preventDefault();
            var ret = [];
            $('#select_fields_chosen').find('.search-choice-close').each(function(){
              var optionIndex = $(this).attr('data-option-array-index');
              var selectedValue = $('#select-fields option').eq(optionIndex).val();
              ret.push(selectedValue);  
            })
            $('#show-fields').val(ret);
            $('#select-fields-form').submit();
        })

        $('#deliver_leads_form').submit(function(e) {
            e.preventDefault();
            deliveryLead();
        })

        $(grid_selector).jqGrid({
            url:'/crm/contacts-data', 
            datatype: "json", 
            colNames:['ID', 'Time Added', 
                <?php if($this->viewFields): ?>
                    <?php foreach($this->viewFields as $fieldId):?>
                        <?php if(is_numeric($fieldId)): ?>
                            '<?php echo $this->fields[$fieldId] ?>',
                        <?php else: ?>
                            '<?php echo $fieldId == 'form_id' ? 'Form': ($fieldId == 'response' ? 'Response' : 'Sold To')?>',
                        <?php endif; ?>
                   <?php endforeach; ?>
                <?php endif; ?>
                ' '
            ], 
            colModel:[
                {name:'id', index:'id', width:20}, 
                {name:'date', index:'date', width:80}, 
                <?php if($this->viewFields): ?>
                    <?php foreach($this->viewFields as $fieldId):?>
                        <?php if($fieldId == 'form_id'): ?>
                            {name:'form_id', index:'form_id', width:80}, 
                        <?php elseif($fieldId == 'client_id'): ?>
                            {name:'client_id', index:'client_id', width:60, sortable:false},
                        <?php elseif($fieldId == 'response'): ?>
                            {name:'response', index:'response', width:60, sortable:false},
                        <?php else: ?>
                            {name:'field_<?php echo $fieldId?>', index:'field_<?php echo $fieldId?>', width:50, sortable:false},
                        <?php endif; ?>
                   <?php endforeach; ?>
                <?php endif; ?>
                {name:'actions', index:'', width:80, fixed:true, sortable:false, resize:false,
                    formatter:'actions', 
                    formatoptions:{ 
                        keys:true,
                        editbutton : false,
                        delOptions:{recreateForm: true, beforeShowForm: beforeDeleteCallback}
                    }
                }
            ],
            loadComplete : function() {
                var table = this;

                setTimeout(function(){
                    getLeadDetails(table);
                    updatePagerIcons(table);
                    enableTooltips(table);
                    $(grid_selector).setGridWidth($('.page-content').width()-20).trigger('resize');;
                }, 0);
            },
            sortable: {
                update : function(relativeColumnOrder) {
                    updateColumnOrder();
                }
            },
            editurl: "/crm/leads-operations",
            multiselect: true,
            multiboxonly: true,
            rowNum: 50, 
            rowList: [50, 100, 300, 400], 
            pager: pager_selector, 
            sortname: 'date', 
            viewrecords: true, 
            sortorder: "desc",
            height: "100%"
        })

        //Adding custom button to show Leads Info
        getLeadDetails = function(table) {
            var iCol = getColumnIndexByName($(grid_selector), 'actions');
            $(table).find(">tbody>tr.jqgrow>td:nth-child(" + (iCol + 1) + ")")
                .each(function() {
                    $("<div>", {
                        title: "Leads Info",
                        mouseover: function() {
                            $(this).addClass('ui-state-hover');
                        },
                        mouseout: function() {
                            $(this).removeClass('ui-state-hover');
                        },
                        click: function(e) {
                            $('#modal-lead-details').modal('hide');
                            $.post(
                                '/crm/leads-operations/format/html',
                                {'id': $(e.target).closest("tr.jqgrow").attr("id"), 'oper': 'details'},
                                function(result) {
                                    $('#lead-details').html(result);
                                    $('#modal-lead-details').modal('show');
                                }
                            )
                        }
                    }
                  ).css({"float": "left", "cursor": "pointer"})
                   .addClass("ui-pg-div ui-inline-zoom")
                   .append('<span class="ui-icon icon-zoom-in"></span>')
                   .prependTo($(this).children("div"));
            });
        }

        getColumnIndexByName = function (grid, columnName) {
            var cm = grid.jqGrid('getGridParam', 'colModel'), i, l = cm.length;
            for (i = 0; i < l; i++) {
                if (cm[i].name === columnName) {
                    return i; // return the index
                }
            }
            return -1;
        },

        //navButtons
        jQuery(grid_selector).jqGrid('navGrid',pager_selector,
            {//navbar options
                del: true,
                delicon : 'icon-trash red',
                //search: true,
                //searchicon : 'icon-search orange',
                refresh: true,
                refreshicon : 'icon-refresh green',
                view: true,
                viewicon : 'icon-zoom-in grey',
                edit: false
            },
            {
                //edit record form
                //closeAfterEdit: true,
                recreateForm: true,
                beforeShowForm : function(e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                }
            },
            {
                //new record form
                closeAfterAdd: true,
                recreateForm: true,
                viewPagerButtons: false,
                beforeShowForm : function(e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                }
            },
            {
                //delete record form
                recreateForm: true,
                beforeShowForm : function(e) {
                    var form = $(e[0]);
                    if(form.data('styled')) return false;

                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_delete_form(form);

                    form.data('styled', true);
                },
                onClick : function(e) {
                    alert(1);
                }
            },
            {
                //search form
                recreateForm: true,
                afterShowSearch: function(e){
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                    style_search_form(form);
                },
                afterRedraw: function(){
                    style_search_filters($(this));
                }
                ,
                multipleSearch: true,
                /**
                multipleGroup:true,
                showQuery: true
                */
            },
            {
                //view record form
                recreateForm: true,
                beforeShowForm: function(e){
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                }
            }
        )

        function style_delete_form(form) {
            var buttons = form.next().find('.EditButton .fm-button');
            buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
            buttons.eq(0).addClass('btn-danger').prepend('<i class="icon-trash"></i>');
            buttons.eq(1).prepend('<i class="icon-remove"></i>')
        }

        function style_search_filters(form) {
            form.find('.delete-rule').val('X');
            form.find('.add-rule').addClass('btn btn-sm btn-primary');
            form.find('.add-group').addClass('btn btn-sm btn-success');
            form.find('.delete-group').addClass('btn btn-sm btn-danger');
        }
        function style_search_form(form) {
            var dialog = form.closest('.ui-jqdialog');
            var buttons = dialog.find('.EditTable')
            buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'icon-retweet');
            buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'icon-comment-alt');
            buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'icon-search');
        }

        function beforeDeleteCallback(e) {
            var form = $(e[0]);
            if(form.data('styled')) return false;

            form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
            style_delete_form(form);

            form.data('styled', true);
        }

        function updatePagerIcons(table) {
            var replacement = 
            {
                'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
                'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
                'ui-icon-seek-next' : 'icon-angle-right bigger-140',
                'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
            };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
            })
        }

        function enableTooltips(table) {
            $('.navtable .ui-pg-button').tooltip({container:'body'});
            $(table).find('.ui-pg-div').tooltip({container:'body'});
        }

        function updateColumnOrder() {
            var column_order = [];
            new_column_order = $(grid_selector).jqGrid("getGridParam", "remapColumns");
            for(id in new_column_order) {
                var col_id = new_column_order[id];
                if(column_list[col_id]) {
                    column_order.push(column_list[col_id]);
                }
            }
            $('#show-fields').val(column_order)
            $.post(
                '/crm/contacts',
                {'fields-update': 1, 'show-fields': $('#show-fields').val()},
                function() {
                }
            )
        }
    })

    function gridReload(){
        var field = $('#filter-data option:selected').attr('data-field');
        var value = $('#filter-data').val();
        if(!field || !value) {
            return;
        }

        /*var rules = {};
        rules.field = field;
        rules.data = value;
        rules.op = 'eq';

        var filter = {};
        filter.groupOp = 'AND';
        filter.rules = [];
        filter.rules.push(rules);
        JSON.stringify(filter);
        '&filters='+JSON.stringify(filter)
         */

        $(grid_selector).jqGrid('setGridParam',{url:"/crm/contacts-data?field="+field+"&search_value="+value+'&filter=1'}).trigger("reloadGrid");
    }

    function exportCsv() {
        var gridParams = $(grid_selector).jqGrid("getGridParam");
        params = "&sidx=" + gridParams.sortname +"&sord=" + gridParams.sortorder;

        var field = $('#filter-data option:selected').attr('data-field');
        var value = $('#filter-data').val();
        if(field && value) {
            params += "&field="+field+"&search_value="+value+"&filter=1";
        }
        location.href = "/crm/contacts-data?csv=1" + params;
    }

    function deliveryLead() {
        if(!$('#deliver_leads_form').valid()) {
            return;
        }
        showLargeSpinner();
        $.ajax({
            url: '/crm/leads-operations',
            data: {'oper': 'deliver', 'client_id': $('#deliver_leads_client_id').val(), 'lead_ids': $(grid_selector).getGridParam('selarrrow')},
            type: 'POST',
            dataType: 'json',
            async: false,
            success : function(response) {
                $('#refresh_grid-table').click();
                $('#modal-deliver-leads').modal('hide');
                hideLargeSpinner();

                result = [];
                for (i in response) {
                    status = response[i] ? 'success' : 'failed';
                    if(result[status] === undefined) {
                        result[status] = '';
                    }
                    result[status] += ' ' + i;
                }
                message = "Completed! <br>";
                message += result['success']!== undefined ? 'Leads: ' + result['success'] + ' were successfully delivered<br>' : '';
                message += result['failed']!== undefined ? 'Leads:' + result['failed'] + ' don\'t qualify due to your filters' : '';
                bootbox.alert(message);
            }
        })
        return false;
    }
</script>