<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" data-target="#modal-step-contents">
            <ul class="wizard-steps">
                <li data-target="#modal-step1" class="active">
                    <span class="step">1</span>
                    <span class="title">Form Title</span>
                </li>

                <li data-target="#modal-step2">
                    <span class="step">2</span>
                    <span class="title">Select Form Fields</span>
                </li>
            </ul>
        </div>

        <div class="modal-body step-content" id="modal-step-contents">
            <form method="post">
                <div class="step-pane active" id="modal-step1">
                    <h5 class="blue">Select Form Title</h5>
                    <?php echo $this->form->form_title ?>

                    <div class="clearfix"></div>

                    <h5 class="blue">Thank you page URL</h5>
                    <?php echo $this->form->redirect_page ?>
                </div>

                <div class="step-pane" id="modal-step2">
                    <div>
                        <h5 class="blue">Select Fields</h5>
                        <?php echo $this->form->form_fields ?>
                        <?php echo $this->form->form_id ?>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer wizard-actions">
            <button class="btn btn-sm btn-prev">
                <i class="icon-arrow-left"></i>
                Prev
            </button>

            <button class="btn btn-success btn-sm btn-next" data-last="Finish ">
                Next
                <i class="icon-arrow-right icon-on-right"></i>
            </button>

            <button class="btn btn-danger btn-sm pull-left" data-dismiss="modal">
                <i class="icon-remove"></i>
                Cancel
            </button>
        </div>
    </div>
</div>


<script>
    $(function() {
        $('form').validate(validationOptions);
        $('.chosen-select').chosen({ width: '300px' }); 
        $('#form_fields_chosen').after($('#form_fields'));

        //Form Steps:
        $('#modal-wizard .modal-header').ace_wizard().on('change' , function(e, info){
            if(info.step == 1 && info.direction == 'next') {
                var isValid = true;

                var fields = $('#modal-step1').find('input').filter(':visible');
                $.each(fields, function() { 
                    if(!$(this).valid()) {
                        isValid = false;
                    }
                });

                return isValid;
            }
        }).on('finished', function(e) {
            $('form').submit();
        });
    })
</script>