<?php echo $this->headTitle('Form Fields'); ?>

<?php $this->headLink()->appendStylesheet('/assets/css/bootstrap-editable.css'); ?>
<?php $this->headScript()->appendFile('/assets/js/x-editable/bootstrap-editable.min.js'); ?>
<?php $this->headScript()->appendFile('/assets/js/x-editable/ace-editable.min.js'); ?>
<?php $this->headScript()->captureStart(); ?>
    $(function() {
        $('#field-saved').fadeOut(3000);

        $('.field-title, .field-name').editable({
            url: '/crm/fields',
            type: 'text',
            validate: function(value) {
                if($.trim(value) == '') return 'This field is required';
            },
            params: function(params) {
                params.id = params.pk;
                params.field = $(this).attr('data-edit');
                params.save = 1;
                return params;
            },
            success: function(response, newValue) {
                if(response.error) return response.error;
            }
        });

        $('.edit-field').click(function(e) {
            e.stopPropagation();
            e.preventDefault();
            $('#field' + $(this).attr('data-id')).editable('toggle');
       });
    });
<?php $this->headScript()->captureEnd(); ?>

<div class="page-header position-relative">
    <h1>Fields</h1>
</div>

<?php if(!empty($this->saved['success'])): ?>
    <div class="alert alert-block alert-success" id="field-saved">
        <p>
            <strong>
                <i class="icon-ok"></i>Added!
            </strong>
            New Field was successfully added!
        </p>
    </div>
<?php elseif($this->saved['error']): ?>
    <div class="alert alert-block alert-danger">
        <p>
            <strong>Error!</strong>
            <?php echo $this->saved['error'] ?>
        </p>
    </div>
<?php endif; ?>

<form method="post" class="form-inline inline-search-form" id="create-field-form">
    <div class="form-group">
        <div class="controls">
            <button class="btn btn-info btn-xs pull-right" type="submit" name="save" value="1">
                SAVE
            </button>
            <input type="text" name="title" id="title" placeholder="Add New Field" class="required">
        </div>
    </div>
    <div class="clearfix"></div>
</form>
<div class="space-6"></div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="col-xs-1">ID</th>
            <th class="col-md-2">Type</th>
            <th>Title</th>
            <th>Name</th>
            <th class="col-xs-1"></th>
        </tr>
    </thead>
    <?php foreach($this->fields as $field): ?>
        <tr id="form-field-<?php echo $field->id; ?>">
            <td>
                <?php echo $field->id?>
            </td>
            <td><?php echo $field->type?></td>
            <td>
                <?php if($field->user_id): ?>
                    <span id="field<?php echo $field->id; ?>" class="editable field-title" 
                        data-placeholder="Required" data-pk="<?php echo $field->id; ?>" data-edit="title">
                        <?php echo $field->title?>
                    </span>
                <?php else: ?>
                    <?php echo $field->title?>
                <?php endif; ?>
            </td>
            <td>
                <span id="field<?php echo $field->id; ?>" class="editable field-name" 
                    data-placeholder="Required" data-pk="<?php echo $field->id; ?>" data-edit="name">
                    <?php echo !empty($this->fieldsOptions[$field->id]) ? $this->fieldsOptions[$field->id] : "field_{$field->id}"?>
                </span>
            </td>
            <td>
                <?php if($field->user_id): ?>
                    <div class="hidden-phone visible-desktop action-buttons">
                        <a href="#" class="red delete-field" data-id="<?php echo $field->id?>" 
                           title="Delete Field" data-rel="tooltip">
                            <i class="icon-trash bigger-130"></i>
                        </a>
                    </div>
                <?php endif; ?>
            </td>
        </tr>
    <?php endforeach; ?>
</table>