<?php $this->headTitle('Forms') ?>

<?php $this->headScript()->appendFile('/assets/js/fuelux/fuelux.wizard.min.js') ?>

<div class="page-header position-relative">
    <h1>Forms</h1>
</div>

<?php if($this->success): ?>
    <div class="alert alert-block alert-success" id="form-saved">
        <p>
            <strong>
                <i class="icon-ok"></i>
                Saved!
            </strong>
            Form was successfully saved!
        </p>
    </div>
<?php endif; ?>

<h4 class="lighter">
    <a href="#" class="open-modal-form">Create new Form</a>
</h4>

<?php if($this->formsList->count()): ?>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="span1">Form_id</th>
                <th>Title</th>
                <th class="span2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($this->formsList as $form): ?>
                <tr id="form-<?php echo $form->id ?>">
                    <td><?php echo $form->id ?></td>
                    <td>
                        <?php echo $form->title ?>
                        (<a href="#collapse<?php echo $form->id?>" data-toggle="collapse" class="accordion-toggle collapsed">
                            Fields
                        </a>)

                        <div class="accordion-body collapse" id="collapse<?php echo $form->id?>">
                            <div class="accordion-inner">
                                <table class="table table-bordered">
                                    <tr>
                                        <th class="span1">id</th>
                                        <th class="span2">field_name</th>
                                        <th>Field</th>
                                    </tr>
                                    <?php $fields = unserialize($form->fields) ?>
                                    <?php foreach($fields as $field): ?>
                                        <tr>
                                            <td><?php echo $field ?></td>
                                            <td>
                                                <?php echo !empty($this->fieldsOptions[$field]) ? $this->fieldsOptions[$field] : "field_{$field}"?>
                                            </td>
                                            <td><?php echo $this->fields[$field] ?></td>
                                        </tr>
                                    <?php endforeach; ?>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="hidden-phone visible-desktop action-buttons">
                            <a href="#" class="green open-modal-form" data-id="<?php echo $form->id ?>" title="Edit Form">
                                <i class="icon-pencil bigger-130"></i>
                            </a>
                            <a href="#" class="red delete-form" data-id="<?php echo $form->id?>" 
                               title="Delete Form" data-rel="tooltip">
                                <i class="icon-trash bigger-130"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>

<div id="modal-wizard" class="modal">
    
</div>

<?php $this->headScript()->captureStart(); ?>
    $(function() {
         $('#form-saved').fadeOut(3000);

        $('.open-modal-form').on('click', function() {
            showLargeSpinner();

            var id = $(this).attr('data-id');
            $.post(
                '/crm/edit-form/format/html',
                {'id': id},
                function(result) {
                    $('#modal-wizard').html(result);
                    hideLargeSpinner();
                    $('#modal-wizard').modal('show');
                }
            )
        })
    })
<?php $this->headScript()->captureEnd(); ?>