<?php $this->headScript()->prependFile('/assets/js/highcharts/highcharts.js') ?>
<?php $this->headTitle('Overview - CRM')?>
<div class="page-header position-relative">
    <h1>Overview</h1>
</div>

<div class="tabbable">
    <div class="row">
        <?php if(!$this->is_desktop): ?>
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#today" data-toggle="tab">
                        Today
                    </a>
                </li>

                <li>
                    <a href="#mtd" data-toggle="tab">
                        MTD
                    </a>
                </li>
            </ul>
        <?php endif; ?>

        <div class="<?php echo !$this->is_desktop ? 'tab-content' : '' ?>">
            <div class="tab-pane active <?php echo $this->is_desktop ? 'col-md-6' : ''?>" id="today">
                <table class="table table-bordered">
                    <?php if($this->is_desktop): ?>
                        <thead>
                            <tr>
                                <th colspan="4" class="center">
                                    Today
                                </th>
                            </tr>
                        </thead>
                    <?php endif; ?>
                    <?php $today = date('Y-m-d');?>
                    <tbody>
                        <tr>
                            <td>
                                Leads<br>
                                <strong>
                                    <?php echo $todayLeads = !empty( $this->receivedLeadsStat[$today]) ? $this->receivedLeadsStat[$today]['leads'] : 0 ?>
                                </strong>
                            </td>
                            <td>
                                Leads sold<br>
                                <strong>
                                    <?php echo $todaySoldLeads = !empty($this->soldLeadsStat[$today]) ? $this->soldLeadsStat[$today]['leads'] : 0 ?>
                                </strong>
                            </td>
                            <td>
                                Conversion Rate<br>
                                <strong>
                                    <?php echo ($todayLeads == 0) ? 0 : round(($todaySoldLeads/$todayLeads*100)) ?>%
                                </strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane <?php echo $this->is_desktop ? 'col-md-6' : ''?>" id="mtd">
                <table class="table table-bordered">
                    <?php if($this->is_desktop): ?>
                        <thead>
                            <tr>
                                <th colspan="4" class="center">
                                    MTD (Month to date)
                                </th>
                            </tr>
                        </thead>
                    <?php endif; ?>
                    <tbody>
                        <tr>
                            <td>
                                Leads<br>
                               <strong>
                                   <?php echo $this->mtdReceivedStat['leads'] ?>
                               </strong>
                            </td>
                            <td>
                                Leads sold<br>
                                <strong>
                                    <?php echo $this->mtdSoldStat['leads'] ?>
                                </strong>
                            </td>
                            <td>
                                Conversion Rate<br>
                                <strong>
                                    <?php echo ($this->mtdReceivedStat['leads'] == 0) ? 0 : round($this->mtdSoldStat['leads']/$this->mtdReceivedStat['leads']*100)?>%
                                </strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="widget-box">
    <div class="widget-header">
        <h5></h5>
    </div>

    <div class="widget-body">
        <div class="widget-main" id="performance-graph">
        </div>
    </div>
</div>

<div id="clients-overview-widget">
    <div class="widget-box">
        <div class="widget-header widget-header-flat widget-header-small">
            <h5>
                <i class="icon-signal"></i>
                Clients Overview
            </h5>
        </div>
        <div class="widget-body center">
            <i class="icon-spinner icon-spin blue bigger-300"></i>
        </div>
    </div>
</div>
    
<script>
    $(function () {
        updateWidget('clients-overview');

        //Performance Graph
        $('#performance-graph').highcharts({
            chart: {
                type: 'areaspline'
            },
            title: {
                text: 'Performance Graph',
                x: -20
            },
            xAxis: {
                title: {
                    text: 'Date'
                },
                type: 'datetime',
                dateTimeLabelFormats: {
                    month: '%e. %b',
                    year: '%b'
                }
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: null,
                labels: {
                    format: '{value:,.2f}'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '%'
            },
            plotOptions: {
                 marker: {
                    lineWidth: 1
                },
                areaspline: {
                    fillOpacity: 0.3
                }
            },
            legend: {
                align: 'left',
                verticalAlign: 'top',
                floating: true,
                borderWidth: 0
            },
            series: [{
                name: 'Approval Rate',
                color: '#87B87F',
                data: [
                    <?php foreach($this->receivedLeadsStat as $date => $stat): ?>
                        <?php $timestamp = strtotime($date); ?>
                        <?php $soldStat = !empty($this->soldLeadsStat[$date]) ? $this->soldLeadsStat[$date]['leads'] : 0; ?>
                        <?php $approvalRate = $soldStat/$stat['leads'] * 100 ?>
                            [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>), <?php echo round($approvalRate)?>],
                    <?php endforeach; ?>
                ]
            }]
        })

        $('body').on('click', '.widget-daterange a', function() {
            var widget = $(this).closest('ul').attr('widget');
            var dateRange = $(this).attr('date-value');

            updateWidget(widget, dateRange); return false;
        })
    })

    updateWidget = function(widget, dateRange) {
        $('#' + widget + '-dropdown').dropdown('toggle')
        $.ajax({
            type: "POST",
            url: "/crm/update-widget/format/html",
            data: {widget: widget, dateRange: dateRange},
            success: function(data){
                $('#'+widget+'-widget').html(data);
            }
        });
    }
</script>