<?php $this->headTitle('Upload Targets') ?>

<div class="page-header position-relative">
    <h1>Upload Targets</h1>
</div>

<?php if($this->completed): ?>
    <?php if($this->error): ?>
        <div class="alert alert-danger">
            <p><strong>Error!</strong></p>
            <?php echo $this->error ?>
    <?php else: ?>
        <div class="alert alert-block alert-success">
            <p>
                <strong><i class="icon-ok"></i> Completed!</strong>
                <div class="space"></div>
                <?php echo $this->addedNumber?> targets was successfully uploaded
                <?php if($this->ignored): ?>
                    <br>
                    <?php echo count($this->ignored) ?> targets was ignored
                <?php endif; ?>
            </p>
    <?php endif; ?>

        <div class="space"></div>
        <p>
            <a href="/crm/upload-targets" class="btn btn-sm">Upload another file</a>
        </p>
    </div>
<?php else: ?>
    <form class="form-horizontal" method="post" enctype="multipart/form-data" id="upload-targets">
        <div class="form-group">
            <label class="control-label no-padding-right col-sm-2" for="ad_id">Account</label>
            <div class="col-sm-9">
                <select name="ad_id" id="ad_id" class="required">
                    <option value="">Select</option>
                    <?php foreach($this->ads as $ad): ?>
                        <option value="<?php echo $ad->id?>"><?php echo $ad->name?></option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label no-padding-right col-sm-2" for="campaign_id">Campaign</label>
            <div class="col-sm-9">
                <select name="campaign_id" id="campaign_id" class="required" disabled="true"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label no-padding-right col-sm-2" for="advert_id">Creative</label>
            <div class="col-sm-9">
                <select name="advert_id" id="advert_id" class="required" disabled="true"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label no-padding-right col-sm-2" for="bid">Max Bid</label>
            <div class="col-sm-9">
                <input type="text" name="bid" id="bid" class="required number" disabled="true">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label no-padding-right col-sm-2" for="file">File .csv</label>
            <div class="col-sm-9">
                <input type="file" name="file" id="file" class="required" disabled="true">
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-success" id="upload-btn">
                <i class="icon-ok bigger-110"></i>
                Upload
            </button>
            <div class="progress progress-striped active hide" id="progress-bar">
                <div class="progress-bar progress-bar-success" style="width: 100%"></div>
            </div>
        </div>
    </form>
<?php endif; ?>
<script>
    $(function() {
        $("#upload-targets").submit(function () {
            if ($(this).valid()) {
                $('#upload-btn').addClass('hide');
                $('#progress-bar').removeClass('hide');
                return true;
            } else {
                return false;
            }
        });

        $('body').on('change', '#ad_id', function() {
            $('#campaign_id, #advert_id, #bid, #file').attr('disabled', 'true');
            $('#campaign_id option').remove();
            if(!$(this).val()) { return; }

            $.ajax({
                type: "POST",
                url: "/crm/upload-targets",
                data: {'getCampaigns': 1, 'adId': $(this).val()},
                success: function(response){
                    $('#campaign_id').append('<option value="">Select</option>');
                    for(i in response) {
                        $('#campaign_id').append('<option value="' + i + '">'+response[i]+'</option>');
                    }
                    $('#campaign_id').removeAttr('disabled');
                }
            });
        }).on('change', '#campaign_id', function () {
            $('#advert_id, #bid, #file').attr('disabled', 'true');
            $('#advert_id option').remove();
            if(!$(this).val()) { return; }

            $.ajax({
                type: "POST",
                url: "/crm/upload-targets",
                data: {'getAdverts': 1, 'adId': $('#ad_id').val(), 'campaignId': $(this).val()},
                success: function(response){
                    $('#advert_id').append('<option value="">Select</option>');
                    for(i in response) {
                        $('#advert_id').append('<option value="' + response[i]['id'] + '">'+response[i]['header']+'</option>');
                    }
                    $('#advert_id').removeAttr('disabled');
                }
            });
        }).on('change', '#advert_id', function() {
            $('#bid, #file').attr('disabled', 'true');
            if(!$(this).val()) {
                return;
            }
            $('#bid, #file').removeAttr('disabled');
        })
    })
</script>