<?php $this->headScript()->prependFile('/assets/js/highcharts/highcharts.js') ?>
<style>
    .ranges li:last-child {display: none; }
    .range_inputs {display: none;}
</style>

<?php $this->headTitle('Ad Performance') ?>
<div class="page-header position-relative">
    <h1>Ad Performance</h1>
</div>

<div id="performance-graph"></div>

<div class="clearfix"></div>
<div class="space-6"></div>

<form method="post" id="campaign-stat-form" class="form-inline inline-search-form">
    <div class="form-group pull-right">
        <a href="/wizard/ad-pairing" class="btn btn-info btn-xs pull-right">Manage Campaigns</a>
        <button class="btn btn-info btn-xs pull-right" type="submit">
            Show
        </button>
        <input type="hidden" name="date_from" id="date_from">
        <input type="hidden" name="date_to" id="date_to">
        <span class="input-icon pull-right" id="daterange">
            <input type="text" name="date-range-picker" id="date-range-picker" 
               <?php if($this->date_from): ?>
                value="<?php echo date("m/d/Y", strtotime($this->date_from)) ?> - <?php echo date("m/d/Y", strtotime($this->date_to)) ?>" 
               <?php endif; ?>
            />
            <i class="icon-calendar"></i>
        </span>
    </div>
</form>

<div class="clearfix"></div>
<div class="space-6"></div>

<?php if(!$this->adSpendStats && !$this->affiliateStats): ?>
    <div class="alert alert-danger">
        No data available for selected period
    </div>
<?php else: ?>
    <?php $campaignsList = array(); ?>
    <?php foreach($this->pairs as $campaignId => $pairs): ?>
        <div id="campaign_stat_<?php echo $campaignId ?>">
            <h3 class="blue">
                <?php echo $this->campaignsList[$campaignId] ?>
            </h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Ad Name</th>
                        <th>Subid</th>
                        <th>Clicks</th>
                        <th>Leads</th>
                        <th>CR</th>
                        <th>Rev</th>
                        <th>Spend</th>
                        <th>P/L</th>
                        <th>ROI</th>
                    </tr>
                </thead>
                <tbody>
                    <?php $totalProfit = $totalSpend = $totalClicks = 0;?>
                    <?php foreach($pairs as $pair): ?>
                        <?php $spend = !empty($this->adSpendStats[$pair['advert_id']]) ? $this->adSpendStats[$pair['advert_id']]['spend']: 0 ?>
                        <?php $affiliateStat = !empty($this->affiliateStats[$pair['affiliate_subid_id']]) ? $this->affiliateStats[$pair['affiliate_subid_id']] : array() ?>
                        <?php if(!$spend && empty($affiliateStat['clicks']) && empty($affiliateStat['leads'])) { continue; } ?>
                        <tr>
                            <td><?php echo $pair['name'] ?></td>
                            <td>
                                <?php echo $this->advertsList[$pair['advert_id']]?>
                            </td>
                            <td>
                                <?php echo $this->subids[$pair['affiliate_subid_id']]?>
                            </td>
                            <td>
                                <?php $clicks = !empty($affiliateStat['clicks']) ? $affiliateStat['clicks'] : 0; ?>
                                <?php echo $clicks; $totalClicks += $clicks; ?>
                            </td>
                            <td><?php echo !empty($affiliateStat['leads']) ? $affiliateStat['leads'] : 0 ?></td>
                            <td>CR</td>
                            <td>
                                <?php $revenue = !empty($affiliateStat['commission']) ? $affiliateStat['commission'] : 0; ?>
                                <?php echo number_format($revenue, 2); ?>
                            </td>
                            <td><?php echo number_format($spend, 2); $totalSpend += $spend; ?></td>
                            <td>
                                <?php $profit = $revenue - abs($spend); $totalProfit += $profit;?>
                                <span class="<?php echo $profit < 0 ? 'red' : 'green' ?>">
                                    $<?php echo number_format($profit, 2) ?>
                                </span>
                            </td>
                            <td>
                                <?php echo $this->roi()->get($profit, $spend, true); ?>%
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    <?php $show = $totalProfit || $totalSpend || $totalClicks; ?>
                    <?php $campaignsList[$campaignId] = array('name' => $this->campaignsList[$campaignId], 'show' => $show, 'profit' => $totalProfit, 'spend' => $totalSpend); ?>
                </tbody>
            </table>
        </div>
    <?php endforeach; ?>
<?php endif; ?>

<script>
    $(function() { 
        $('#date-range-picker').daterangepicker(
            {
                format: 'MM/DD/YYYY',
                startDate: '<?php echo date("m/d/Y", strtotime($this->date_from)) ?>',
                endDate: '<?php echo date("m/d/Y", strtotime($this->date_to)) ?>',
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()]
                 }
            },
            function(start, end) {
                $('#date_from').val(start.format('YYYY-MM-DD'));
                $('#date_to').val(end.format('YYYY-MM-DD'));
            }
        );

        <?php if(!empty($campaignsList)): ?>
            <?php foreach($campaignsList as $campaignId => $campaign): ?>
                <?php if(!$campaign['show']){ ?>
                    $('#campaign_stat_<?php echo $campaignId?>').hide();
                <?php } ?>
            <?php endforeach; ?>

            var colors = [
                '#2f7ed8', '#0d233a', '#8bbc21', 
                '#910000', '#1aadce', '#492970',
                '#f28f43', '#77a1e5', '#c42525', '#a6c96a'
            ]

            $('#performance-graph').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Performance Graph',
                    x: -20
                },
                xAxis: {
                    categories: [
                        <?php foreach($campaignsList as $campaign): ?>
                            <?php if(!$campaign['show']){ continue; }?>
                            "<strong><?php echo $campaign['name'] ?> <br> $<?php echo $campaign['profit'] ?> | <?php echo $this->roi()->get($campaign['profit'], $campaign['spend'], true)?>%</strong>",
                        <?php endforeach; ?>
                    ],
                    labels: {
                        useHTML: true
                    }
                },
                yAxis: [{
                    title: {
                        text: 'P/L'
                    },
                    min: null,
                    labels: {
                        format: '{value:,.2f}'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                }],
                plotOptions: {
                     marker: {
                        lineWidth: 1
                    },
                    areaspline: {
                        fillOpacity: 0.3
                    }
                },
                tooltip : {
                    useHTML: true,
                    formatter: function() {
                        tooltip =  '<strong>Ad Nickname: '+this.series.name+'</strong><br>$' + this.y.toFixed(2) + ' | ' + (this.point.roi*100).toFixed(2) + '%';
                        return tooltip;
                    }
                },
                series: [
                    <?php $campaigns = 0; ?>
                    <?php foreach($this->pairs as $campaignId => $pairs): ?>
                        <?php if(!$campaignsList[$campaignId]['show']) {continue; } ?>
                        <?php $adId = 0 ?>
                        <?php foreach($pairs as $pair): ?>
                            <?php $spend = !empty($this->adSpendStats[$pair['advert_id']]) ? $this->adSpendStats[$pair['advert_id']]['spend']: 0 ?>
                            <?php $affiliateStat = !empty($this->affiliateStats[$pair['affiliate_subid_id']]) ? $this->affiliateStats[$pair['affiliate_subid_id']] : array() ?>
                            <?php $revenue = !empty($affiliateStat['commission']) ? $affiliateStat['commission'] : 0; ?>
                            <?php $profit = $revenue - abs($spend)?>
                            <?php if($profit): ?>
                                {
                                    name:'<?php echo $pair['name'] ?>',
                                    showInLegend: false,
                                    color: colors[<?php echo $adId ?>],
                                    data: [
                                    <?php echo $campaigns ? implode(',', array_fill(0, $campaigns, 0)) . ',' : ''?>
                                    {
                                        y: <?php echo $profit ?>,
                                        roi: <?php echo $this->roi()->get($profit, $spend)?>
                                    }]
                                },
                                <?php $adId ++; ?>
                            <?php endif; ?>
                        <?php endforeach; ?>
                        <?php $campaigns +=1; ?>
                    <?php endforeach; ?>
                ]
            })
        <?php endif; ?>
    })
</script>