<script type="text/javascript" src="/assets/js/password-editable.js"></script>
<?php $this->headTitle('Manage Campaigns')?>
<div class="page-header">
    <h1 class="inline">Manage Campaigns</h1>
    <a href="/wizard/pairing" class="btn btn-sm btn-info pull-right">
        <i class="icon-plus"></i>
        New Campaign
    </a>
</div>
<div class="row accounting-settings">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Campaign Name</th>
                    <th>Campaign Nickname</th>
                    <th>Pairing code</th>
                    <th>Amt. of Offers</th>
                    <th>Amt. of Campaigns</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($this->campaigns as $campaign): ?>
                    <?php $campaignId = $campaign->id ?>
                    <tr id="campaign-<?php echo $campaignId?>">
                        <td>
                            <span class="editable campaign-name" data-pk="<?php echo $campaignId ?>" data-edit="name"
                                  data-placeholder="Required" id="campaign_name<?php echo $campaignId ?>" data-type="text"
                                  data-resource="campaign">
                                <?php echo $campaign->name; ?>
                            </span>
                        </td>
                        <td>
                            <span class="editable" data-pk="<?php echo $campaignId ?>" data-edit="nickname"
                                  data-placeholder="Required" id="campaign_nickname<?php echo $campaignId ?>" data-type="text"
                                  data-resource="campaign">
                                <?php echo $campaign->nickname?>
                            </span>
                        </td>
                        <td>
                            <?php echo $campaign->keyword?>
                        </td>
                        <td>
                            <?php echo !empty($this->affiliateCampaignsAmt[$campaignId]) ? $this->affiliateCampaignsAmt[$campaignId] : 0 ?>
                        </td>
                        <td>
                            <?php echo !empty($this->adCampaignsAmt[$campaignId]) ? $this->adCampaignsAmt[$campaignId] : 0 ?>
                        </td>
                        <td>
                            <div class="hidden-phone visible-desktop action-buttons">
                                <a href="/accounting/campaigns?campaign=<?php echo $campaignId ?>" class="blue"
                                   title="Campaign Dashboard" data-rel="tooltip">
                                    <i class="icon-info bigger-130"></i>
                                </a>
                                <a href="/wizard/pairing/<?php echo $campaignId ?>" class="green"
                                   title="Edit Campaign" data-rel="tooltip">
                                    <i class="icon-pencil bigger-130"></i>
                                </a>
                                <a href="#" class="red wizard-delete" data-id="<?php echo $campaignId?>" 
                                   data-resource="campaign" title="Delete Campaign" data-rel="tooltip">
                                    <i class="icon-trash bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>