<?php $this->headScript()->prependFile('/assets/js/highcharts/highcharts.js') ?>
<?php $this->headTitle('Campaigns') ?>

<div class="page-header position-relative">
    <h1>Campaigns Dashboard</h1>
</div>

<form method="get" id="campaign-stat-form" class="form-inline inline-search-form">
    <div class="form-group">
        <a href="#" class="btn btn-info btn-xs pull-right" id="fb-ad-btn" >
            FB Ad Performance
        </a>
        <a href="#" class="btn btn-info btn-xs pull-right" id="day-parting-btn" >
            Day Parting Stats
        </a>
        <button class="btn btn-info btn-xs pull-right" type="submit">
            Show
        </button>
        <span class="input-icon pull-right" id="daterange">
            <input type="text" id="date-range-picker" 
               <?php if($this->form->date_from->getValue()): ?>
                value="<?php echo date("m/d/Y", strtotime($this->form->date_from->getValue())) ?> - <?php echo date("m/d/Y", strtotime($this->form->date_to->getValue())) ?>" 
               <?php endif; ?>
            />
            <i class="icon-calendar"></i>
        </span>
        <?php echo $this->form->campaign?>
        <?php echo $this->form->date_from ?>
        <?php echo $this->form->date_to ?>
    </div>
</form>

<div class="clearfix"></div>
<div class="space-6"></div>

<?php if($this->affiliateStats || $this->adStats): ?>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    Leads<br>
                    <strong id="total-leads"></strong>
                </td>
                <td>
                    Revenue<br>
                    <strong id="total-revenue"></strong>
                </td>
                <td>
                    Spend<br>
                    <strong id="total-spend"></strong>
                </td>
                <td>
                    Profit<br>
                    <strong id="profit"></strong>
                </td>
                <td>
                    ROI<br>
                    <strong id="roi"></strong>
                </td>
                <td>
                    Avg. Daily Profit<br>
                   <strong id="avg_day_profit"></strong>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="widget-box">
        <div class="widget-header">
            <h5></h5>
            <div class="widget-toolbar no-border">
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main" id="performance-graph">
            </div>
        </div>
    </div>

    <div class="space"></div>

    <div class="row">
        <div class="col-md-8" id="campaign-performance-widget">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h5>Campaign Performance</h5>
                </div>
                <div class="widget-body center">
                    <i class="icon-spinner icon-spin blue bigger-300"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4" id="campaign-prof-loss-widget">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h5>P/L Performance</h5>
                </div>
                <div class="widget-body center">
                    <i class="icon-spinner icon-spin blue bigger-300"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="space"></div>

    <?php $totalAdsSpend = array(); ?>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Day of week</th>
                <th>Leads</th>
                <th>Revenue</th>
                <?php foreach($this->adSpendStats['ad_accounts'] as $adAccountId => $ad): ?>
                    <th>
                        <?php echo $this->exportResources['ad'][$ad->source]; ?><br>
                        <?php echo $ad->parent ? $ad->parent . '<br>' : '' ?> 
                        <?php echo $ad->name?>
                        <?php $totalAdsSpend[$adAccountId] = 0?>
                    </th>
                <?php endforeach; ?>
                <th>Profit</th>
                <th>ROI</th>
                <th>EPC</th>
                <th>Avg. CPL</th>
            </tr>
        </thead>
        <tbody>
            <?php $dateFrom = new DateTime($this->form->date_from->getValue()); ?>
            <?php $dateTo = new DateTime($this->form->date_to->getValue()); ?>
            <?php $today = new DateTime(); ?>
            <?php $totalLeads = $totalCommission = $days = $totalSpend = $totalEpc = 0 ?>
            <?php $statistics = $this->adSpendStats['statistics']; ?>

            <?php while($dateFrom <= $dateTo): ?>
                <?php $date = $dateFrom->format('Y-m-d'); ?>
                <?php $daySpend = 0; ?>

                <?php if($dateFrom <= $today): ?> 
                    <?php $leads = !empty($this->affiliateStats[$date]) ? $this->affiliateStats[$date]['leads'] : 0; ?>
                    <?php $commission = !empty($this->affiliateStats[$date]) ? $this->affiliateStats[$date]['commission'] : 0; ?>
                    <?php $epc = !empty($this->affiliateStats[$date]) ? $this->affiliateStats[$date]['epc'] : 0; ?>
                    <tr>
                        <td><?php echo $dateFrom->format("d F, Y") ?></td>
                        <td><?php echo $dateFrom->format("l") ?></td>
                        <td><?php echo $leads; $totalLeads += $leads; ?> </td>
                        <td><?php echo number_format($commission, 2); $totalCommission += $commission; ?></td>
                        <?php foreach($this->adSpendStats['ad_accounts'] as $adAccountId => $ad): ?>
                            <td>
                                <?php $adSpend = !empty($statistics[$date][$adAccountId]) ? $statistics[$date][$adAccountId] : 0; ?>
                                <?php echo number_format($adSpend, 2); $totalAdsSpend[$adAccountId] += $adSpend; $totalSpend += $adSpend;?>
                                <?php $daySpend += $adSpend?>
                            </td>
                        <?php endforeach; ?>
                        <td>
                            <?php $profit = $commission - abs($daySpend);?>
                            <span class="<?php echo $profit < 0 ? 'red' : 'green' ?>">
                                <?php echo number_format($profit, 2); ?>
                            </span>
                        </td>
                        <td><?php echo $this->roi()->get($profit, $daySpend, true) ?>%</td>
                        <td><?php echo round($epc, 2); $totalEpc += $epc; ?></td>
                        <td><?php echo number_format(($leads != 0 ? $daySpend/$leads : 0), 2);?></td>
                    </tr>
                    <?php $days += 1; ?>
                <?php endif; ?>
                <?php $dateFrom->add(new DateInterval('P1D')); ?>
            <?php endwhile;?>

            <?php $totalProfit = $totalCommission-abs($totalSpend); ?>
            <?php $roi = $this->roi()->get($totalProfit, $totalSpend) ?>
            <?php $avgCPL = ($totalLeads != 0) ? $totalSpend/$totalLeads : 0 ?>
            <tr class="success">
                <td>Total</td>
                <td></td>
                <td><?php echo $totalLeads ?></td>
                <td><?php echo number_format($totalCommission, 2) ?></td>
                <?php foreach($totalAdsSpend as $spend): ?>
                    <td><?php echo number_format($spend, 2) ?></td>
                <?php endforeach; ?>
                <td>
                    <span class="<?php echo $totalProfit < 0 ? 'red' : 'green' ?>">
                        <?php echo number_format($totalProfit, 2) ?>
                    </span>
                </td>
                <td><?php echo $this->roi()->format($roi) ?>%</td>
                <td><?php echo number_format($totalEpc, 2) ?></td>
                <td><?php echo number_format($avgCPL, 2) ?></td>
            </tr>
            <tr class="active">
                <td>Average</td>
                <td></td>
                <td><?php echo round($totalLeads/$days) ?></td>
                <td><?php echo number_format($totalCommission/$days, 2) ?></td>
                <?php foreach($totalAdsSpend as $spend): ?>
                    <td><?php echo number_format($spend/$days, 2) ?></td>
                <?php endforeach; ?>
                <td>
                    <span class="<?php echo $totalProfit < 0 ? 'red' : 'green' ?>">
                        <?php echo number_format($totalProfit/$days, 2) ?>
                    </span>
                </td>
                <td><?php echo $this->roi()->format($roi/$days) ?>%</td>
                <td><?php echo number_format($totalEpc/$days, 2) ?></td>
                <td><?php echo number_format($avgCPL/$days, 2) ?></td>
            </tr>
        </tbody>
    </table>

    <?php $stats = array(); ?>
    <script>
        $(function() {
            $('#total-leads').html('<?php echo $totalLeads ?>');
            $('#total-revenue').html('<?php echo number_format($totalCommission, 2) ?>');
            $('#total-spend').html('<?php echo number_format($totalSpend, 2) ?>');
            $('#profit').html('<span class="<?php echo $totalProfit < 0 ? 'red' : 'green' ?>"><?php echo number_format($totalProfit, 2) ?></span>');
            $('#roi').html('<?php echo number_format($roi * 100, 2) ?>%');
            $('#avg_day_profit').html('<span class="<?php echo $totalProfit < 0 ? 'red' : 'green' ?>"><?php echo number_format(($totalProfit) / $days, 2) ?></span>');

            <?php if(!empty($this->affiliateStats) || !empty($this->adStats)): ?>
            $('#performance-graph').highcharts({
                chart: {
                    type: 'areaspline'
                },
                title: {
                    text: 'Performance Graph',
                    x: -20
                },
                xAxis: {
                    title: {
                        text: 'Date'
                    },
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        month: '%e. %b',
                        year: '%b'
                    }
                },
                yAxis: [{
                    title: {
                        text: 'Amount'
                    },
                    min: null,
                    labels: {
                        format: '{value:,.2f}'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },{ // ROI yAxis
                    gridLineWidth: 0,
                    title: {
                        text: 'ROI Percent',
                        style: {
                            color: '#ED9C28'
                        }
                    },
                    labels: {
                        format: '{value:,f}%',
                        style: {
                            color: '#ED9C28'
                        }
                    },
                    opposite: true
                }],
                plotOptions: {
                     marker: {
                        lineWidth: 1
                    },
                    areaspline: {
                        fillOpacity: 0.3
                    }
                },
                legend: {
                    align: 'left',
                    verticalAlign: 'top',
                    floating: true,
                    borderWidth: 0
                },
                series: [{
                    name: 'Revenue',
                    color: '#438EB9',
                    yAxis: 0,
                    tooltip: {
                        valuePrefix: '$'
                    },
                    data: [
                        <?php foreach($this->affiliateStats as $date => $stat): ?>
                            <?php $timestamp = strtotime($date); ?>
                            <?php $spend = !empty($this->adStats[$date]) ? $this->adStats[$date]['spend'] : 0; ?>
                            <?php $stats[$timestamp]['profit'] = $profit = $stat['commission'] - abs($spend) ?>
                            <?php $stats[$timestamp]['roi'] = ($spend == 0) ? 1 : $profit/$spend;?>

                            [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>), <?php echo $stat['commission']?>],
                        <?php endforeach; ?>
                    ]
                },{
                    name: 'Spend',
                    color: '#B74635',
                    yAxis: 0,
                    tooltip: {
                        valuePrefix: '$'
                    },
                    data: [
                        <?php foreach($this->adStats as $date => $stat): ?>
                            <?php $timestamp = strtotime($date); ?>

                            <?php if(empty($stats[$timestamp])) { ?>
                                <?php $revenue = !empty($this->affiliateStats[$date]) ? $this->affiliateStats[$date]['commission'] : 0 ?>
                                <?php $stats[$timestamp]['profit'] = $profit = $revenue - abs($stat['spend']) ?>
                                <?php $stats[$timestamp]['roi'] = ($stat['spend'] == 0) ? 1 : $profit/$stat['spend'];?>
                            <?php } ?>
                            [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>), <?php echo $stat['spend']?>],
                        <?php endforeach; ?>
                        <?php ksort($stats); ?>
                    ]
                }, {
                    name: 'Profit',
                    color: '#87B87F',
                    yAxis: 0,
                    tooltip: {
                        valuePrefix: '$'
                    },
                    data: [
                        <?php foreach($stats as $timestamp => $stat): ?>
                            [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>), <?php echo round($stat['profit'], 2)?>],
                        <?php endforeach; ?>
                    ]
                }, {
                    name: 'ROI',
                    color: '#ED9C28',
                    yAxis: 1,
                    tooltip: {
                        valueSuffix: '%'
                    },
                    data: [
                        <?php foreach($stats as $timestamp => $stat): ?>
                            [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>), <?php echo round($stat['roi'] * 100, 2)?>],
                        <?php endforeach; ?>
                    ]
                }]
            });

            //hide Revenie, Spend series by default:
            var profitSeries = $('#performance-graph').highcharts().series[2];
            var roiSeries = $('#performance-graph').highcharts().series[3];

            profitSeries.hide();
            roiSeries.hide();
            <?php endif; ?>
        });
    </script>
<?php elseif($this->form->campaign->getValue()): ?>
    <div class="alert alert-danger">
        No data available for selected period
    </div>
<?php endif; ?>

<script>
    $(function() {
        updateTable('campaign-performance');
        updateTable('campaign-prof-loss');

        $('.chosen-select').chosen();
        $('#campaign_chosen').after($('#campaign'));

        $('#day-parting-btn').click(function() {
            if($('#campaign-stat-form').valid()) {
                location.href = '/accounting/day-parting?campaign=' + $('#campaign').val();
                return;
            }
        })

        $('#fb-ad-btn').click(function() {
            if($('#campaign-stat-form').valid()) {
                location.href = '/accounting/fb-Ad-Performance?campaign=' + $('#campaign').val();
                return;
            }
        })

        $('#date-range-picker').daterangepicker(
            {
                format: 'MM/DD/YYYY',
                startDate: '<?php echo date("m/d/Y", strtotime($this->form->date_from->getValue())) ?>',
                endDate: '<?php echo date("m/d/Y", strtotime($this->form->date_to->getValue())) ?>',
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment()],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                 }
            },
            function(start, end) {
                $('#date_from').val(start.format('YYYY-MM-DD'));
                $('#date_to').val(end.format('YYYY-MM-DD'));
            }
        );

        $('body').on('click', '.table-stat-daterange a', function() {
            var tableType = $(this).closest('ul').attr('table');
            var dateRange = $(this).attr('date-value');

            updateTable(tableType, dateRange); return false;
        })
    })

    //campaigns-stat
    updateTable = function(table, dateRange) {
        $('#' + table + '-dropdown').dropdown('toggle')
        $.ajax({
            type: "POST",
            url: "/accounting/update-table/format/html",
            data: {dateRange: dateRange, table: table, campaign: <?php echo $this->form->campaign->getValue()?>},
            success: function(data){
                $('#'+table+'-widget').html(data);
            }
        });
    }
</script>