<?php $this->headScript()->prependFile('/assets/js/highcharts/highcharts.js') ?>

<?php $this->headTitle('Day parting'); ?>
<div class="page-header position-relative">
    <h1>Day parting</h1>
</div>

<form method="get" id="campaign-stat-form" class="form-inline inline-search-form">
    <div class="form-group">
        <a href="#" class="btn btn-info btn-xs pull-right" id="campaigns-btn" >
            Campaign Stats
        </a>
        <button class="btn btn-info btn-xs pull-right" type="submit">
            Show
        </button>
        
        <span class="input-icon pull-right" id="daterange">
            <input type="text" id="date-range-picker" 
               <?php if($this->form->date_from->getValue()): ?>
                value="<?php echo date("m/d/Y h:i A", strtotime($this->form->date_from->getValue())) ?> - <?php echo date("m/d/Y h:i A", strtotime($this->form->date_to->getValue())) ?>" 
               <?php endif; ?>
            />
            <i class="icon-calendar"></i>
        </span>
        <?php echo $this->form->campaign?>
        <?php echo $this->form->date_from ?>
        <?php echo $this->form->date_to ?>
    </div>
</form>

<div class="clearfix"></div>
<div class="space-6"></div>

<?php if($this->affiliateStats || $this->adStats): ?>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    Leads<br>
                    <strong id="total-leads"></strong>
                </td>
                <td>
                    Revenue<br>
                    <strong id="total-revenue"></strong>
                </td>
                <td>
                    Spend<br>
                    <strong id="total-spend"></strong>
                </td>
                <td>
                    Profit<br>
                    <strong id="profit"></strong>
                </td>
                <td>
                    ROI<br>
                    <strong id="roi"></strong>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="widget-box">
        <div class="widget-header">
            <h5></h5>
            <div class="widget-toolbar no-border">
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main" id="performance-graph">
            </div>
        </div>
    </div>

    <div class="space"></div>

    <div class="widget-box transparent">
        <div class="widget-header">
            <div class="widget-toolbar no-border">
                <h5 class="lighter inline"><a href="#" class="change-table-rows" data-show="total">Show Totals</a></h5>
                &nbsp;|&nbsp;
                <h5 class="lighter inline"><a href="#" class="change-table-rows" data-show="difference">Show Difference</a></h5>
                &nbsp;|&nbsp;
                <h5 class="lighter inline"><a href="#" class="change-table-rows">Show Both</a></h5>
            </div>
        </div>
        <div class="widget-body">
            <?php $statistics = $this->adSpendStats['statistics']; ?>
            <?php $adAccounts = $this->adSpendStats['ad_accounts']; ?>
            <table class="table table-bordered table-hover" id="fixed-header">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Date</th>
                        <th>Day of week</th>
                        <th colspan="2">Leads</th>
                        <th colspan="2">Revenue</th>
                        <?php foreach($adAccounts as $adAccountId => $ad): ?>
                            <th colspan="2">
                                <?php echo $this->exportResources['ad'][$ad->source]; ?><br>
                                <?php echo $ad->parent ? $ad->parent . '<br>' : '' ?> 
                                <?php echo $ad->name?>
                            </th>
                        <?php endforeach; ?>
                        <th colspan="2">Profit</th>
                        <th>ROI</th>
                        <th>Avg. CPL</th>
                    </tr>
                </thead>
                <tbody>
                    <?php $totalSpend = $totalAdSpend = 0 ?>
                    <?php $totalByDay = array(); ?>

                    <?php foreach($this->statDates as $date): ?>
                        <?php $day = date('Y-m-d', strtotime($date)); ?>
                        <?php $leads = !empty($this->affiliateStats[$date]) ? $this->affiliateStats[$date]['leads'] : 0; ?>
                        <?php $commission = !empty($this->affiliateStats[$date]) ? $this->affiliateStats[$date]['commission'] : 0; ?>
                        <tr>
                            <td><?php echo date('h:i A', strtotime($date)) ?></td>
                            <td><?php echo date('d F, Y', strtotime($date)) ?></td>
                            <td><?php echo date('l', strtotime($date)) ?></td>

                            <td class="daily-stat stat-difference"><?php echo $leads - @$totalByDay['leads'][$day] ?> </td>
                            <td class="daily-stat stat-total"><?php echo $leads; ?> </td>

                            <td class="daily-stat stat-difference"><?php echo number_format(($commission - @$totalByDay['commission'][$day]), 2); ?></td>
                            <td class="daily-stat stat-total"><?php echo number_format($commission, 2); ?></td>

                            <?php $daySpend = 0; ?>
                            <?php foreach($adAccounts as $adAccountId => $ad): ?>
                                <td class="daily-stat stat-difference">
                                    <?php $adSpend = !empty($statistics[$date][$adAccountId]) ? $statistics[$date][$adAccountId] : 0; ?>
                                    <?php $totalAdSpend = @$totalByDay['ad_spend'][$adAccountId][$day]; ?>
                                    <?php echo number_format($adSpend - $totalAdSpend, 2);?>
                                </td>
                                <td class="daily-stat stat-total">
                                    <?php echo number_format($adSpend, 2);?>
                                    <?php $daySpend += $adSpend?>
                                    <?php $totalByDay['ad_spend'][$adAccountId][$day] = $adSpend; ?>
                                </td>
                            <?php endforeach; ?>

                            <td class="daily-stat stat-difference">
                                <?php $profit = $commission - abs($daySpend);?>
                                <?php $profitDiff = $profit - abs(@$totalByDay['profit'][$day]) ?>
                                <span class="<?php echo $profitDiff < 0 ? 'red' : 'green' ?>">
                                    <?php echo number_format($profitDiff, 2); ?>
                                </span>
                            </td>
                            <td class="daily-stat stat-total">
                                <span class="<?php echo $profit < 0 ? 'red' : 'green' ?>">
                                    <?php echo number_format($profit, 2); ?>
                                </span>
                            </td>

                            <td><?php echo $this->roi()->get($profit, $daySpend, true) ?>%</td>
                            <td><?php echo number_format(($leads != 0 ? $daySpend/$leads : 0), 2);?></td>
                        </tr>
                        <?php $totalByDay['leads'][$day] = $leads; ?>
                        <?php $totalByDay['commission'][$day] = $commission; ?>
                        <?php $totalByDay['profit'][$day] = $profit; ?>
                    <?php endforeach;?>

                    <?php $totalCommission = array_sum($totalByDay['commission']); ?>
                    <?php $totalLeads = array_sum($totalByDay['leads']); ?>
                    <tr class="success">
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td colspan="2" class="center"><?php echo $totalLeads ?></td>
                        <td colspan="2" class="center"><?php echo number_format($totalCommission, 2) ?></td>

                        <?php if(!empty($totalByDay['ad_spend'])): ?>
                            <?php foreach($totalByDay['ad_spend'] as $spend): ?>
                                <td colspan="2" class="center">
                                    <?php echo number_format(array_sum($spend), 2) ?>
                                </td>
                                <?php $totalSpend += array_sum($spend);?>
                            <?php endforeach; ?>
                        <?php endif; ?>
                        <?php $totalProfit = $totalCommission-abs($totalSpend); ?>
                        <?php $roi = $this->roi()->get($totalProfit, $totalSpend) ?>
                        <?php $avgCPL = ($totalLeads != 0) ? $totalSpend/$totalLeads : 0 ?>

                        <td colspan="2" class="center">
                            <span class="<?php echo $totalProfit < 0 ? 'red' : 'green' ?>">
                                <?php echo number_format($totalProfit, 2) ?>
                            </span>
                        </td>
                        <td><?php echo $this->roi()->format($roi) ?>%</td>
                        <td><?php echo number_format($avgCPL, 2) ?></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <?php $stats = array(); ?>
    <script>
        $(function() {
            $('#fixed-header').floatThead({scrollingTop: 86})

            $('#total-leads').html('<?php echo $totalLeads ?>');
            $('#total-revenue').html('<?php echo number_format($totalCommission, 2) ?>');
            $('#total-spend').html('<?php echo number_format($totalSpend, 2) ?>');
            $('#profit').html('<span class="<?php echo $totalProfit < 0 ? 'red' : 'green' ?>"><?php echo number_format($totalProfit, 2) ?></span>');
            $('#roi').html('<?php echo number_format($roi * 100, 2) ?>%');

            $('body').on('click', '.change-table-rows', function(e) {
                e.preventDefault();
                var showClass = $(this).attr('data-show');
                if(!showClass) {
                    $('.daily-stat').fadeIn(600);
                    $('table th[colspan=1], td[colspan=1]').attr('colspan', '2');
                    return;
                }
                var hideClass = showClass == 'total' ? 'difference' : 'total';

                $('.daily-stat').hide();
                $('.stat-' + showClass).fadeIn(600); 
                $('.stat-' + hideClass).hide(); 
                $('table th[colspan=2], td[colspan=2]').attr('colspan', '1');
            })

            <?php if(!empty($this->affiliateStats) || !empty($this->adStats)): ?>
            $('#performance-graph').highcharts({
                chart: {
                    type: 'areaspline'
                },
                title: {
                    text: 'Performance Graph',
                    x: -20
                },
                tooltip: {
                    xDateFormat: '%A, %d %B, %Y %H:%M'
                },
                xAxis: {
                    title: {
                        text: 'Date'
                    },
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        month: '%e. %b',
                        year: '%b'
                    }
                },
                yAxis: [{
                    title: {
                        text: 'Amount'
                    },
                    min: null,
                    labels: {
                        format: '{value:,.2f}'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },{ // ROI yAxis
                    gridLineWidth: 0,
                    title: {
                        text: 'ROI Percent',
                        style: {
                            color: '#ED9C28'
                        }
                    },
                    labels: {
                        format: '{value:,f}%',
                        style: {
                            color: '#ED9C28'
                        }
                    },
                    opposite: true
                }],
                plotOptions: {
                     marker: {
                        lineWidth: 1
                    },
                    areaspline: {
                        fillOpacity: 0.3
                    }
                },
                legend: {
                    align: 'left',
                    verticalAlign: 'top',
                    floating: true,
                    borderWidth: 0
                },
                series: [{
                    name: 'Revenue',
                    color: '#438EB9',
                    yAxis: 0,
                    tooltip: {
                        valuePrefix: '$'
                    },
                    data: [
                        <?php foreach($this->affiliateStats as $date => $stat): ?>
                            <?php $timestamp = strtotime($date); ?>
                            <?php $spend = !empty($this->adStats[$date]) ? $this->adStats[$date]['spend'] : 0; ?>
                            <?php $stats[$timestamp]['profit'] = $profit = $stat['commission'] - abs($spend) ?>
                            <?php $stats[$timestamp]['roi'] = ($spend == 0) ? 1 : $profit/$spend;?>

                            [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>, <?php echo date('H', $timestamp)?>, <?php echo date('i', $timestamp)?>), <?php echo $stat['commission']?>],
                        <?php endforeach; ?>
                    ]
                }, {
                    name: 'Spend',
                    color: '#B74635',
                    yAxis: 0,
                    tooltip: {
                        valuePrefix: '$'
                    },
                    data: [
                        <?php foreach($this->adStats as $date => $stat): ?>
                            <?php $timestamp = strtotime($date); ?>

                            <?php if(empty($stats[$timestamp])) { ?>
                                <?php $revenue = !empty($this->affiliateStats[$date]) ? $this->affiliateStats[$date]['commission'] : 0 ?>
                                <?php $stats[$timestamp]['profit'] = $profit = $revenue - abs($stat['spend']) ?>
                                <?php $stats[$timestamp]['roi'] = ($stat['spend'] == 0) ? 1 : $profit/$stat['spend'];?>
                            <?php } ?>
                            [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>, <?php echo date('H', $timestamp)?>, <?php echo date('i', $timestamp)?>), <?php echo $stat['spend']?>],
                        <?php endforeach; ?>
                        <?php ksort($stats); ?>
                    ]
                },{
                    name: 'Profit',
                    color: '#87B87F',
                    yAxis: 0,
                    tooltip: {
                        valuePrefix: '$'
                    },
                    data: [
                        <?php foreach($stats as $timestamp => $stat): ?>
                            [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>, <?php echo date('H', $timestamp)?>, <?php echo date('i', $timestamp)?>), <?php echo round($stat['profit'], 2)?>],
                        <?php endforeach; ?>
                    ]
                }, {
                    name: 'ROI',
                    color: '#ED9C28',
                    yAxis: 1,
                    tooltip: {
                        valueSuffix: '%'
                    },
                    data: [
                        <?php foreach($stats as $timestamp => $stat): ?>
                            [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>, <?php echo date('H', $timestamp)?>, <?php echo date('i', $timestamp)?>), <?php echo round($stat['roi'] * 100, 2)?>],
                        <?php endforeach; ?>
                    ]
                }]
            });

            //hide Revenie, Spend series by default:
            var profitSeries = $('#performance-graph').highcharts().series[2];
            var roiSeries = $('#performance-graph').highcharts().series[3];

            profitSeries.hide();
            roiSeries.hide();
            <?php endif; ?>
        });
    </script>
<?php elseif($this->form->campaign->getValue()): ?>
    <div class="alert alert-danger">
        No data available for selected period
    </div>
<?php endif; ?>

<script>
    $(function() {
        $('.chosen-select').chosen();
        $('#campaign_chosen').after($('#campaign'));

        $('#campaigns-btn').click(function() {
            if($('#campaign-stat-form').valid()) {
                location.href = '/accounting/campaigns?campaign=' + $('#campaign').val();
                return;
            }
        })

        $('#date-range-picker').daterangepicker(
            {
                timePicker: true, 
                timePickerIncrement: 30,
                format: 'MM/DD/YYYY hh:mm A',
                startDate: '<?php echo date("m/d/Y h:i A", strtotime($this->form->date_from->getValue())) ?>',
                endDate: '<?php echo date("m/d/Y h:i A", strtotime($this->form->date_to->getValue())) ?>',
                minDate: moment().subtract('hours', 48).startOf('day'),
                maxDate: moment().endOf('day'),
                ranges: {
                    'Today': [moment().startOf('day'), moment()],
                    'Last 24 Hours': [moment().subtract('hours', 24), moment()],
                    'Last 36 Hours': [moment().subtract('hours', 36), moment()],
                    'Last 48 Hours': [moment().subtract('hours', 48), moment()]
                 }
            },
            function(start, end) {
                $('#date_from').val(start.format('YYYY-MM-DD HH:mm:00'));
                $('#date_to').val(end.format('YYYY-MM-DD HH:mm:00'));
            }
        );
    })
</script>