<?php $this->headTitle('Facebook Ad Performance') ?>
<div class="page-header position-relative">
    <h1> 
        <a href="/accounting/campaigns?campaign=<?php echo $this->campaign->id ?>"><?php echo $this->campaign->name ?></a>
        > Facebook
    </h1>
</div>

<form method="get" id="campaign-stat-form" class="form-inline inline-search-form">
    <div class="form-group">
        <span class="input-icon input-icon-left" id="query-cover">
            <i class="icon-search"></i><input type="text" name="query" id="query" value="<?php $this->query ?>">
        </span>

        <span class="input-icon " id="daterange">
            <input type="text" id="date-range-picker" 
               <?php if($this->dateFrom): ?>
                value="<?php echo date("m/d/Y", strtotime($this->dateFrom)) ?> - <?php echo date("m/d/Y", strtotime($this->dateTo)) ?>" 
               <?php endif; ?>
            />
            <i class="icon-calendar"></i>
        </span>

        <button class="btn btn-info btn-xs " type="submit">
            Show
        </button>
        <input type="hidden" name="campaign" value="<?php echo $this->campaign->id ?>">
        <input type="hidden" name="date_from" id="date_from" value="<?php echo $this->dateFrom ?>">
        <input type="hidden" name="date_to" id="date_to" value="<?php echo $this->dateTo ?>">
    </div>
</form>

<div class="clearfix"></div>
<div class="space-6"></div>
<?php if(!$this->adverts): ?>
    <div class="widget-main">
        <div class="alert alert-danger">
            No available data
        </div>
    </div>
<?php else: ?>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Ad Name</th>
                <th>Impressions</th>
                <th>Clicks</th>
                <th>CTR</th>
                <th>Conversions</th>
                <th>CR</th>
                <th>Revenue</th>
                <th>Spend</th>
                <th>P/L</th>
                <th>ROI</th>
                <th>CPC</th>
                <th>EPC</th>
                <th>Avg. CPL</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($this->adverts as $advert): ?>
                <?php $spend = $this->advertsStat[$advert] ?>
                <?php $revenue = $this->subidStat[$advert] ?>
                <tr>
                    <td><?php echo $advert ?></td>
                    <td><?php echo $spend['impressions'] ?></td>
                    <td><?php echo $spend['clicks'] ?></td>
                    <td><?php echo number_format($spend['ctr'], 2) ?>%</td>
                    <td><?php echo $revenue['leads']?></td>
                    <td></td>
                    <td>$<?php echo number_format($revenue['commission'], 2) ?></td>
                    <td>$<?php echo number_format($spend['spend'], 2) ?></td>
                    <td>
                        <?php $profit = $spend['spend'] -  $revenue['commission']?>
                        <span class="<?php echo $profit < 0 ? 'red' : 'green' ?>">
                            $<?php echo number_format($profit, 2); ?>
                        </span>
                    </td>
                    <td><?php echo $this->roi()->get($profit, $spend['spend'], true) ?>%</td>
                    <td>$<?php echo number_format(($spend['clicks'] != 0 ? $spend['spend']/$spend['clicks'] : 0), 2);?></td>
                    <td>$<?php echo number_format($revenue['epc'], 2)?></td>
                    <td>$<?php echo number_format(($revenue['leads'] !=0 ? $spend['spend']/$revenue['leads'] : 0), 2)?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>

<script>
    $(function() {
        $('#date-range-picker').daterangepicker(
            {
                timePicker: true, 
                timePickerIncrement: 30,
                format: 'MM/DD/YYYY hh:mm A',
                startDate: '<?php echo date("m/d/Y h:i A", strtotime($this->dateFrom)) ?>',
                endDate: '<?php echo date("m/d/Y h:i A", strtotime($this->dateTo)) ?>',
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()]
                 }
            },
            function(start, end) {
                $('#date_from').val(start.format('YYYY-MM-DD'));
                $('#date_to').val(end.format('YYYY-MM-DD'));
            }
        );
    })
</script>