<?php $this->headScript()->prependFile('/assets/js/highcharts/highcharts.js') ?>
<?php $this->headTitle('Recap'); ?>
<div class="page-header">
    <h1>Recap</h1>
</div>


<form method="post" id="recap-stat-form" class="form-inline inline-search-form">
    <div class="form-group">
        <button class="btn btn-info btn-xs pull-right" type="submit">
            Show
        </button>
        <span class="input-icon pull-right" id="daterange">
            <input type="text" name="date-range-picker" id="date-range-picker" 
                value="<?php echo date("m/d/Y", strtotime($this->dateFrom)) ?> - <?php echo date("m/d/Y", strtotime($this->dateTo)) ?>" 
            />
            <i class="icon-calendar"></i>
        </span>
        <input type="hidden" name="date_from" id="date_from">
        <input type="hidden" name="date_to" id="date_to">
    </div>
</form>

<div class="clearfix"></div>
<div class="space-6"></div>

<div class="widget-box">
    <div class="widget-header">
    </div>

    <div class="widget-body">
        <div class="widget-main" id="performance-graph">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12 widget-container-span">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h5>Recap</h5>
                <div class="widget-toolbar">
                    <a data-action="collapse" href="#">
                        <i class="icon-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Leads</th>
                            <th>Revenue</th>
                            <th>Cost</th>
                            <th>Profit</th>
                            <th>ROI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php $totalLeads = $totalCommission = $totalSpend = $days = 0 ?>
                        <?php foreach($this->affiliateStats as $date => $affiliate): ?>
                            <tr>
                                <?php $days += 1 ?>
                                <td><?php echo strftime("%d %B, %Y", strtotime($date)) ?></td>
                                <td><?php echo $affiliate['leads']; $totalLeads += $affiliate['leads']; ?></td>
                                <td>$ <?php echo number_format($affiliate['commission'], 2); $totalCommission += $affiliate['commission']; ?></td>
                                <td>
                                    <?php $spend = !empty($this->adStats[$date]) ? $this->adStats[$date]['spend'] : 0 ?>
                                    <?php $totalSpend += $spend ?>
                                    $<?php echo number_format($spend, 2)?>
                                </td>
                                <td>
                                    <?php $profit = $affiliate['commission'] - abs($spend);?>
                                    <span class="<?php echo $profit < 0 ? 'red' : 'green' ?>">
                                        $<?php echo number_format($profit, 2)?>
                                    </span>
                                </td>
                                <td>
                                    <?php echo $this->roi()->get($profit, $spend, true) ?>%
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        <?php if($days !=0 ): ?>
                            <?php $totalProfit = $totalCommission-abs($totalSpend); ?>
                            <?php $roi = $this->roi()->get($totalProfit, $totalSpend) ?>
                            <?php $avgCPL = ($totalLeads != 0) ? $totalSpend/$totalLeads : 0 ?>
                            <tr class="success">
                                <td>Total</td>
                                <td><?php echo $totalLeads ?></td>
                                <td><?php echo number_format($totalCommission, 2) ?></td>
                                <td><?php echo number_format($totalSpend, 2) ?></td>
                                <td>
                                    <span class="<?php echo $totalProfit < 0 ? 'red' : 'green' ?>">
                                        <?php echo number_format($totalProfit, 2) ?>
                                    </span>
                                </td>
                                <td><?php echo $this->roi()->format($roi) ?>%</td>
                            </tr>
                            <tr class="warning">
                                <td>Average</td>
                                <td><?php echo round($totalLeads/$days) ?></td>
                                <td><?php echo number_format($totalCommission/$days, 2) ?></td>
                                <td><?php echo number_format($totalSpend/$days, 2) ?></td>
                                <td>
                                    <span class="<?php echo $totalProfit < 0 ? 'red' : 'green' ?>">
                                        <?php echo number_format($totalProfit/$days, 2) ?>
                                    </span>
                                </td>
                                <td><?php echo $this->roi()->format($roi/$days) ?>%</td>
                            </tr>
                        <?php endif; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<?php $stats = array(); ?>
<script>
    $(function () {
        $('#date-range-picker').daterangepicker(
            {
                format: 'MM/DD/YYYY',
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment()],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                 }
            },
            function(start, end) {
                $('#date_from').val(start.format('YYYY-MM-DD'));
                $('#date_to').val(end.format('YYYY-MM-DD'));
            }
        );

        //Performance Graph
        $('#performance-graph').highcharts({
            chart: {
                type: 'areaspline'
            },
            title: {
                text: 'Performance Graph',
                x: -20
            },
            xAxis: {
                title: {
                    text: 'Date'
                },
                type: 'datetime',
                dateTimeLabelFormats: {
                    month: '%e. %b',
                    year: '%b'
                }
            },
            yAxis: [{
                title: {
                    text: 'Amount'
                },
                min: null,
                labels: {
                    format: '{value:,.2f}'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            }, { // ROI yAxis
                gridLineWidth: 0,
                title: {
                    text: 'ROI Percent',
                    style: {
                        color: '#ED9C28'
                    }
                },
                labels: {
                    format: '{value:,f}%',
                    style: {
                        color: '#ED9C28'
                    }
                },
                opposite: true
            }],
            plotOptions: {
                 marker: {
                    lineWidth: 1
                },
                areaspline: {
                    fillOpacity: 0.3
                }
            },
            legend: {
                align: 'left',
                verticalAlign: 'top',
                floating: true,
                borderWidth: 0
            },
            series: [{
                name: 'Revenue',
                color: '#438EB9',
                yAxis: 0,
                tooltip: {
                    valuePrefix: '$'
                },
                data: [
                    <?php foreach($this->affiliateStats as $date => $stat): ?>
                        <?php $timestamp = strtotime($date); ?>
                        <?php $spend = !empty($this->adStats[$date]) ? $this->adStats[$date]['spend'] : 0; ?>
                        <?php $stats[$timestamp]['profit'] = $profit = $stat['commission'] - abs($spend) ?>
                        <?php $stats[$timestamp]['roi'] = ($spend == 0) ? 1 : $profit/$spend; ?>

                        [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>), <?php echo $stat['commission']?>],
                    <?php endforeach; ?>
                ]
            }, {
                name: 'Spend',
                color: '#B74635',
                yAxis: 0,
                tooltip: {
                    valuePrefix: '$'
                },
                data: [
                    <?php foreach($this->adStats as $date => $stat): ?>
                        <?php $timestamp = strtotime($date); ?>

                        <?php if(empty($stats[$timestamp])) { ?>
                            <?php $revenue = !empty($this->affiliateStats[$date]) ? $this->affiliateStats[$date]['commission'] : 0 ?>
                            <?php $stats[$timestamp]['profit'] = $profit = $revenue - abs($stat['spend']) ?>
                            <?php $stats[$timestamp]['roi'] = ($stat['spend'] == 0) ? 1 : $profit/$stat['spend']; ?>
                        <?php } ?>

                        [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>), <?php echo round($stat['spend'], 2)?>],
                    <?php endforeach; ?>
                    <?php ksort($stats); ?>
                ]
            }, {
                name: 'Profit',
                color: '#87B87F',
                yAxis: 0,
                tooltip: {
                    valuePrefix: '$'
                },
                data: [
                    <?php foreach($stats as $timestamp => $stat): ?>
                        [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>), <?php echo round($stat['profit'], 2)?>],
                    <?php endforeach; ?>
                ]
            }, {
                name: 'ROI',
                color: '#ED9C28',
                yAxis: 1,
                tooltip: {
                    valueSuffix: '%'
                },
                data: [
                    <?php foreach($stats as $timestamp => $stat): ?>
                        [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>), <?php echo round($stat['roi'] * 100, 2)?>],
                    <?php endforeach; ?>
                ]
            }]
        })

        //hide Revenie, Spend series by default:
        var profitSeries = $('#performance-graph').highcharts().series[2];
        var roiSeries = $('#performance-graph').highcharts().series[3];

        profitSeries.hide();
        roiSeries.hide();
    })
</script>