<?php $this->headScript()->prependFile('/assets/js/highcharts/highcharts.js') ?>
<?php $this->headScript()->prependFile('/assets/js/refresh-data.js') ?>
<?php $this->headTitle('Dashboard')?>
<div class="page-header">
    <h1>Dashboard</h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="tabbable">
            <?php if(!$this->is_desktop): ?>
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#today" data-toggle="tab">
                            Today
                        </a>
                    </li>
                    <li>
                        <a href="#yesterday" data-toggle="tab">
                            Yesterday
                        </a>
                    </li>
                    <li>
                        <a href="#mtd" data-toggle="tab">
                            MTD
                        </a>
                    </li>
                </ul>
            <?php endif; ?>

            <div class="<?php echo !$this->is_desktop ? 'tab-content tab-content-narrow' : 'row' ?>" id="responsive-tables">
                <div class="tab-pane active <?php echo $this->is_desktop ? 'col-md-4' : ''?>" id="today">
                    <table class="table table-bordered table-condensed">
                        <?php if($this->is_desktop): ?>
                            <thead>
                                <tr>
                                    <th colspan="4" class="center">
                                        Today
                                    </th>
                                </tr>
                            </thead>
                        <?php endif; ?>
                        <tbody>
                            <tr>
                                <td>Revenue</td>
                                <td>Spend</td>
                                <td>Profit</td>
                                <td>ROI</td>
                            </tr>
                            <tr>
                                <td data-title="Revenue">
                                    <?php $todayRevenue = !empty($this->affiliateStats[date('Y-m-d')]) ? $this->affiliateStats[date('Y-m-d')]['commission'] : 0 ?>
                                    $<?php echo number_format($todayRevenue, 2)?>
                                </td>
                                <td data-title="Spend">
                                    <?php $todaySpend = !empty($this->adStats[date('Y-m-d')]) ? $this->adStats[date('Y-m-d')]['spend'] : 0; ?>
                                    $<?php echo number_format($todaySpend, 2)?>
                                </td>
                                <td data-title="Profit">
                                    <?php $totalProfit = $todayRevenue - abs($todaySpend); ?>
                                    <span class="<?php echo $totalProfit < 0 ? 'red' : 'green' ?>">
                                        $<?php echo number_format($totalProfit, 2) ?>
                                    </span>
                                </td>
                                <td data-title="ROI">
                                    <?php echo $this->roi()->get($totalProfit, $todaySpend, true); ?>%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane <?php echo $this->is_desktop ? 'col-md-4' : ''?>" id="yesterday">
                    <table class="table table-bordered table-condensed">
                        <?php if($this->is_desktop): ?>
                            <thead>
                                <tr>
                                    <th colspan="4" class="center">
                                        Yesterday
                                    </th>
                                </tr>
                            </thead>
                        <?php endif; ?>
                        <tbody>
                            <tr>
                                <td>Revenue</td>
                                <td>Spend</td>
                                <td>Profit</td>
                                <td>ROI</td>
                            </tr>
                            <tr>
                                <td data-title="Revenue">
                                    <?php $yesterdayRevenue = !empty($this->affiliateStats[$this->yesterday]) ? $this->affiliateStats[$this->yesterday]['commission'] : 0 ?>
                                    $<?php echo number_format($yesterdayRevenue, 2)?>
                                </td>
                                <td data-title="Spend">
                                    <?php $yesterdaySpend = !empty($this->adStats[$this->yesterday]) ? $this->adStats[$this->yesterday]['spend'] : 0; ?>
                                    $<?php echo number_format($yesterdaySpend, 2)?>
                                </td>
                                <td data-title="Profit">
                                    <?php $yesterdayProfit = $yesterdayRevenue - abs($yesterdaySpend); ?>
                                    <span class="<?php echo $yesterdayProfit < 0 ? 'red' : 'green' ?>">
                                        $<?php echo number_format($yesterdayProfit, 2) ?>
                                    </span>
                                </td>
                                <td data-title="ROI">
                                    <?php echo $this->roi()->get($yesterdayProfit, $yesterdaySpend, true); ?>%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane <?php echo $this->is_desktop ? 'col-md-4' : ''?>" id="mtd">
                    <table class="table table-bordered table-condensed">
                        <?php if($this->is_desktop): ?>
                            <thead>
                                <tr>
                                    <th colspan="4" class="center">
                                        MTD (Month to date)
                                    </th>
                                </tr>
                            </thead>
                        <?php endif; ?>
                        <tbody>
                            <tr>
                                <td>Revenue</td>
                                <td>Spend</td>
                                <td>Profit</td>
                                <td>ROI</td>
                            </tr>
                            <tr>
                                <td data-title="Revenue">
                                   $<?php echo number_format($this->mtdAffiliateStat['commission'], 2) ?>
                                </td>
                                <td data-title="Spend">
                                    $<?php echo number_format($this->mtdSpend, 2) ?>
                                </td>
                                <td data-title="Profit">
                                    <?php $mtdProfit = $this->mtdAffiliateStat['commission']-abs($this->mtdSpend)?>
                                    <span class="<?php echo $mtdProfit < 0 ? 'red' : 'green' ?>">
                                        $<?php echo number_format($mtdProfit, 2) ?>
                                    </span>
                                </td>
                                <td data-title="ROI">
                                    <?php echo $this->roi()->get($mtdProfit, $this->mtdSpend, true); ?>%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="widget-box">
    <div class="widget-header">
        <h5></h5>

        <div class="widget-toolbar no-border">
            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                <?php if($this->from): ?>
                    <?php echo strftime("%d %B, %Y", strtotime($this->from)) ?> - 
                    <?php echo strftime("%d %B, %Y", strtotime($this->to)) ?>
                <?php else: ?>
                    <?php echo $this->dateRange()->getName($this->dateRange, '30d'); ?>
                <?php endif; ?>
                <i class="icon-angle-down icon-on-right"></i>
            </button>

            <ul class="dropdown-menu dropdown-info pull-right dropdown-caret">
                <li>
                    <a href="/accounting/summary?dateRange=yesterday">Yesterday</a>
                </li>
                <li>
                    <a href="/accounting/summary?dateRange=7d">7 Day</a>
                </li>
                <li>
                    <a href="/accounting/summary?dateRange=30d">30 Days</a>
                </li>
                <li>
                    <a href="/accounting/summary?dateRange=mtd">MTD</a>
                </li>
                <li>
                    <a href="#" id="date-range-picker">Date Range</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main" id="performance-graph">
        </div>
    </div>
</div>

<?php $stats = array(); ?>
<script>
    $(function () {
        $('#date-range-picker').click(function() {
            $(this).closest('.dropdown-menu').css('display','block');
        })

        $('#date-range-picker').daterangepicker(
            {
                format: 'MM/DD/YYYY',
                opens: 'left'
            },
            function(start, end) {
                $('.dropdown-menu').css('display','none');
                var get_params = '?from='+start.format('YYYY-MM-DD')+'&to='+end.format('YYYY-MM-DD');
                location.href = $(location).attr('pathname')+get_params;
            }
        );

        $('#performance-graph').highcharts({
            chart: {
                type: 'areaspline'
            },
            title: {
                text: 'Performance Graph',
                x: -20
            },
            xAxis: {
                title: {
                    text: 'Date'
                },
                type: 'datetime',
                dateTimeLabelFormats: {
                    month: '%e. %b',
                    year: '%b'
                }
            },
            yAxis: [{
                title: {
                    text: 'Amount'
                },
                min: null,
                labels: {
                    format: '{value:,.2f}'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },{ // ROI yAxis
                gridLineWidth: 0,
                title: {
                    text: 'ROI Percent',
                    style: {
                        color: '#ED9C28'
                    }
                },
                labels: {
                    format: '{value:,f}%',
                    style: {
                        color: '#ED9C28'
                    }
                },
                opposite: true
            }],
            plotOptions: {
                 marker: {
                    lineWidth: 1
                },
                areaspline: {
                    fillOpacity: 0.3
                }
            },
            legend: {
                align: 'left',
                verticalAlign: 'top',
                floating: true,
                borderWidth: 0
            },
            series: [{
                name: 'Revenue',
                color: '#438EB9',
                yAxis: 0,
                tooltip: {
                    valuePrefix: '$'
                },
                data: [
                    <?php foreach($this->affiliateStats as $date => $stat): ?>
                        <?php $timestamp = strtotime($date); ?>
                        <?php $spend = !empty($this->adStats[$date]) ? $this->adStats[$date]['spend'] : 0; ?>
                        <?php $stats[$timestamp]['profit'] = $profit = $stat['commission'] - abs($spend) ?>
                        <?php $stats[$timestamp]['roi'] = ($spend == 0) ? 1 : $profit/$spend;?>

                        [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>), <?php echo $stat['commission']?>],
                    <?php endforeach; ?>
                ]
            }, {
                name: 'Spend',
                color: '#B74635',
                yAxis: 0,
                tooltip: {
                    valuePrefix: '$'
                },
                data: [
                    <?php foreach($this->adStats as $date => $stat): ?>
                        <?php $timestamp = strtotime($date); ?>

                        <?php if(empty($stats[$timestamp])) { ?>
                            <?php $revenue = !empty($this->affiliateStats[$date]) ? $this->affiliateStats[$date]['commission'] : 0 ?>
                            <?php $stats[$timestamp]['profit'] = $profit = $revenue - abs($stat['spend']) ?>
                            <?php $stats[$timestamp]['roi'] = ($stat['spend'] == 0) ? 1 : $profit/$stat['spend']?>
                        <?php } ?>

                        [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>), <?php echo $stat['spend']?>],
                    <?php endforeach; ?>
                    <?php ksort($stats); ?>
                ]
            }, {
                name: 'Profit',
                color: '#87B87F',
                yAxis: 0,
                tooltip: {
                    valuePrefix: '$'
                },
                data: [
                    <?php foreach($stats as $timestamp => $stat): ?>
                        [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>), <?php echo round($stat['profit'], 2)?>],
                    <?php endforeach; ?>
                ]
            }, {
                name: 'ROI',
                color: '#ED9C28',
                yAxis: 1,
                tooltip: {
                    valueSuffix: '%'
                },
                data: [
                    <?php foreach($stats as $timestamp => $stat): ?>
                        [Date.UTC(<?php echo date('Y', $timestamp)?>, <?php echo date('n', $timestamp)-1?>, <?php echo date('d', $timestamp)?>), <?php echo round($stat['roi'] * 100, 2)?>],
                    <?php endforeach; ?>
                ]
            }]
        })

        //hide Revenie, Spend series by default:
        var profitSeries = $('#performance-graph').highcharts().series[2];
        var roiSeries = $('#performance-graph').highcharts().series[3];

        profitSeries.hide();
        roiSeries.hide();
    })
</script>