<script>
    $(function() {
        $('#add_notification_contact').validate(tooltipValidationOptions);

        $('.contact-name, .contact-phone').editable({
            url: '/notifications/contact',
            type: 'text',
            validate: function(value) {
                if($.trim(value) == '') return 'This field is required';
            },
            params: function(params) {
                params.field = $(this).attr('data-edit');
                params.operation = 'edit';
                params.id = params.pk;
                return params;
            },
            success: function(response, newValue) {
                if(response.error) return response.error;
            }
            /*display: function(value, sourceData) {
                if($(this).attr('data-edit') == 'phone') {
                    console.log($(this), value);
                }
                $(this).text(value);
            }*/
        });

        $('body').on('submit', '#add_notification_contact', function(e){
            e.preventDefault();
            if($('#add_notification_contact').valid()) {
                var name = $('#contact_name').val();
                var phone = $('#contact_phone').val();
                $.post(
                    '/notifications/contact',
                    {'name': name, 'phone': phone, 'operation': 'add'},
                    function(result) {
                        updateNotificationContacts();
                    }
                )
            }
        })
    });
</script>
<div class="modal-body step-content" id="modal-step-contents">
    <form class="form-inline" role="form" id="add_notification_contact">
        <div class="form-group">
            <h5 class="lighter">New Contact</h5>
        </div>
        <div class="form-group">
            <input type="text" name="contact_name" id="contact_name" class="form-control required" placeholder="First Name">
        </div>
        <div class="form-group">
            <input type="text" name="contact_phone" id="contact_phone" class="form-control required phoneUS" placeholder="Phone">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Add</button>
    </form>
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="lighter">
                Contacts
            </h4>
        </div>
        <div class="widget-body">
            <div class="widget-main no-padding">
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                        <?php foreach($this->contacts as $contact): ?>
                            <tr id="contact-<?php echo $contact->id?>">
                                <td>
                                    <span class="editable contact-name" data-pk="<?php echo $contact->id ?>"
                                          data-placeholder="Required" id="contact_name<?php echo $contact->id ?>" data-edit="name">
                                        <?php echo $contact->name; ?>
                                    </span>
                                </td>
                                <td>
                                    <span class="editable contact-phone phoneUS" data-pk="<?php echo $contact->id ?>"
                                          data-placeholder="Required" id="contact_phone<?php echo $contact->id ?>" data-edit="phone">
                                          <?php echo $this->format()->phone($contact->phone) ?>
                                    </span>
                                </td>
                                <td>
                                    <div class="hidden-phone visible-desktop action-buttons">
                                        <a href="#" class="red delete-notification-contact" data-id="<?php echo $contact->id?>" 
                                          title="Delete Contact" data-rel="tooltip">
                                            <i class="icon-trash bigger-130"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>