<?php $this->headTitle($this->notification ? 'Edit Notification' : 'Add new Notification')?>
<div class="page-header position-relative">
    <h1><?php echo $this->notification ? 'Edit Notification' : 'Add new Notification' ?></h1>
</div>

<?php if(!empty($this->added)): ?>
    <div class="alert alert-block alert-success">
        <p>
            <strong><i class="icon-ok"></i> Saved!</strong>
            New notification has been successfully saved!
        </p>

        <p>
            <a href="/notifications/overview" class="btn btn-sm btn-success">Show all notifications</a>
             <a href="/notifications/create" class="btn btn-sm">Create another notification</a>
        </p>
    </div>
<?php else: ?>
    <?php if(!$this->contacts): ?>
        <div class="alert alert-block alert-warning">
            <p>
                Please, <a href="/notifications/overview#modal-contacts">create</a> the contacts first!
            </p>
        </div>
    <?php else: ?>
        <?php echo $this->form?>
    <?php endif; ?>
<?php endif; ?>

<?php $this->headScript()->captureStart() ?>
    $(function() {
        $('.chosen-select').chosen();
        $('#general_contact_id_chosen').after($('#general-contact_id'));

        showSettings();
        $('#create-notification-form').find('dt').hide();
        $('#general-type').change(showSettings);
    })

    //show notification settings depends on selected type
    function showSettings() {
        var selected = $('#general-type').val();

        $('.notification_settings').parent().hide();
        $('#'+selected+'-element').show();
    }
<?php $this->headScript()->captureEnd() ?>