<?php $this->headTitle('Notifications') ?>

<div class="page-header position-relative">
    <h1>Notifications</h1>
</div>
<?php if(!$this->currentUser->twilio_phone): ?>
    <div class="alert alert-danger">
        You don't have Twilio Phone number connected to your account!
    </div>
<?php else: ?>
    <h4 class="lighter">
        <a href="/notifications/create" class="btn btn-success btn-sm"> New Notification </a>
        <a href="#modal-contacts" data-toggle="modal" id="open-contacts-modal" class="btn btn-grey btn-sm"> Contacts </a>
        <div class="pull-right grey">
            <i class="icon-phone"></i>&nbsp;<?php echo $this->format()->phone($this->currentUser->twilio_phone)?>
        </div>
    </h4>

    <?php if($this->notifications->count()): ?>
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h5>Notifications</h5>
            </div>

            <div class="widget-body">
                <table class="table table-striped table-bordered table-hover table-responsive" style="margin-bottom:0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Campaign</th>
                            <th>Threshold</th>
                            <th>Contact</th>
                            <th>Frequency</th>
                            <th>Created</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->notifications as $notification): ?>
                            <tr class="notification-row-<?php echo $notification->disabled ? 'disable' : 'active'?>"
                                id="notification-info-<?php echo $notification->id?>">
                                <td><?php echo $notification->name ?></td>
                                <td>
                                    <?php echo $notification->type ?>
                                </td>
                                <td>
                                    <?php if($notification->campaign_id): ?>
                                        <?php echo $this->campaigns[$notification->campaign_id];?>
                                    <?php else: ?>
                                        All Campaigns
                                    <?php endif; ?>
                                </td>
                                <td>
                                    <?php if($notification->threshold): ?>
                                        <?php echo $notification->type == 'profit' ? '$' : '' ?>
                                        <?php echo $notification->threshold ?>
                                        <?php echo $notification->type == 'roi' ? '%' : '' ?>
                                    <?php else: ?>
                                        N/A
                                    <?php endif; ?>
                                </td>
                                <td>
                                    <?php if(!empty($this->contacts[$notification->id])): ?>
                                        <?php $notificationContacts = array(); ?>
                                        <?php foreach($this->contacts[$notification->id] as $contact): ?>
                                            <?php $notificationContacts[] = $contact['name'] ?>
                                        <?php endforeach; ?>
                                        <?php echo implode(', ', $notificationContacts); ?>
                                    <?php endif; ?>
                                </td>
                                <td><?php echo $notification->frequency ?></td>
                                <td>
                                    <?php echo strftime("%d %B, %Y", strtotime($notification->added)) ?>
                                </td>
                                <td>
                                    <span class="label label-grey">Disabled</span>
                                    <span class="label label-success">Active</span>
                                </td>
                                <td>
                                    <a href="/notifications/edit/<?php echo $notification->id?>" 
                                       class="btn btn-xs btn-info" alt="Edit">
                                        <i class="icon-edit bigger-120"></i>
                                    </a>
                                    <a href="#" class="btn btn-xs btn-success activate-notification" notificationId="<?php echo $notification->id?>"
                                        id="activate-notification-<?php echo $notification->id?>" title="Activate Notification" data-rel="tooltip">
                                        <i class="icon-ok-circle bigger-120"></i>
                                    </a>
                                    <a href="#" class="btn btn-xs btn-grey disable-notification" notificationId="<?php echo $notification->id?>"
                                       id="disable-notification-<?php echo $notification->id?>" title="Disable Notification" data-rel="tooltip">
                                        <i class="icon-ban-circle bigger-120"></i>
                                    </a>
                                    <a href="#" class="btn btn-xs btn-danger delete-notification" notificationId="<?php echo $notification->id?>"
                                       title="Delete Notification" data-rel="tooltip">
                                        <i class="icon-trash bigger-120"></i>
                                    </a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
        <?php if($this->notifications->count() > 1): ?>
            <?php echo $this->paginationControl($this->notifications, 'Sliding', '/paginator/paginator.phtml'); ?>
        <?php endif; ?>
    <?php endif; ?>


    <div id="modal-contacts" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Contacts List</h4>
                </div>
                <div id="notifications-contacts"></div>

                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm pull-left" data-dismiss="modal">
                        <i class="icon-remove"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            updateNotificationContacts();
            if(window.location.hash.substring(1) == 'modal-contacts') {
                $('#open-contacts-modal').click();
            }
        })
    </script>
<?php endif; ?>