<div id="forgot-box" class="forgot-box widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header red lighter bigger">
                <i class="icon-key"></i>
                Retrieve Password
            </h4>

            <div class="space-6"></div>
            <div id="forgot-password-block">
                <p>
                    Enter your email and to receive instructions
                </p>

                <form id="forgot-password-form" action="/auth/forgot" method="post">
                    <fieldset>
                        <label class="block clearfix form-group">
                            <span class="block input-icon input-icon-right">
                                <?php echo $this->forgotForm->email ?>
                                <i class="icon-envelope"></i>
                            </span>
                        </label>

                        <div class="clearfix">
                            <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                <i class="icon-lightbulb"></i>
                                Send Me!
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div id="forgot-password-success" class="hide">
                <div class="alert alert-block alert-success">
                    We've sent instructions to your email
                </div>
            </div>
        </div>

        <div class="toolbar center">
            <a href="#" class="back-to-login-link">
                Back to login
                <i class="icon-arrow-right"></i>
            </a>
        </div>
    </div>
</div>