<?php $this->headTitle('Login');?>
<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                <i class="icon-coffee green"></i>
                Please Enter Your Information
            </h4>

            <div class="space-6"></div>
            <form id="login-form" method="post">
                <fieldset>
                    <label class="block clearfix form-group">
                        <span class="block input-icon input-icon-right">
                            <?php echo $this->form->email ?>
                            <i class="icon-user"></i>
                        </span>
                    </label>

                    <label class="block clearfix form-group">
                        <span class="block input-icon input-icon-right">
                            <?php echo $this->form->password ?>
                            <i class="icon-lock"></i>
                        </span>
                    </label>

                    <div class="space"></div>

                    <div class="clearfix">
                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                            <i class="icon-key"></i>
                            Login
                        </button>
                    </div>
                    <div class="space-4"></div>
                </fieldset>
            </form>
        </div>
        <div class="toolbar clearfix">
            <div>
                <a href="#" class="forgot-password-link">
                    <i class="icon-arrow-left"></i>
                    I forgot my password
                </a>
            </div>
        </div>
    </div>
</div>
<?php echo $this->render('auth/forgot.phtml') ?>