<?php $this->headTitle('Reset Password') ?>

<div id="reset-password-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                <i class="icon-coffee green"></i>
                Reset Password
            </h4>

            <?php if($this->success): ?>
                <div class="alert alert-success">
                    Your password was changed
                </div>
            <?php elseif($this->error): ?>
                <div class="alert alert-danger">
                    <i class="icon-remove"></i>
                    Your link is expired!
                </div>
            <?php else: ?>
                <div class="space-6"></div>
                <form id="reset-password-form" method="post">
                    <fieldset>
                        <label class="block clearfix form-group">
                            <span class="block input-icon input-icon-right">
                                <?php echo $this->form->password ?>
                                <i class="icon-lock"></i>
                            </span>
                        </label>

                        <label class="block clearfix form-group">
                            <span class="block input-icon input-icon-right">
                                <?php echo $this->form->confirmPassword ?>
                                <i class="icon-lock"></i>
                            </span>
                        </label>

                        <div class="space"></div>

                        <div class="clearfix">
                            <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                <i class="icon-key"></i>
                                Update
                            </button>
                        </div>
                        <div class="space-4"></div>
                    </fieldset>
                </form>
            <?php endif; ?>
        </div>
        <div class="toolbar clearfix">
            <div></div>
            <div>
                <a href="/login" class="user-signup-link">
                    Go to Login
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>