<?php if ($this->pageCount): ?>
    <div>
        <ul class="pagination">
            <?php if (isset($this->previous)): ?>
                <li>
                    <a href="<?php echo $this->url(array('page' => $this->previous)) . ($_SERVER['QUERY_STRING'] ? '?' . $_SERVER['QUERY_STRING'] : ''); ?>">&lt; Previous</a>
                </li>
            <?php else: ?>
                <li class="disabled">
                    <a href="#">&lt; Previous </a>
                </li>
            <?php endif; ?>

            <?php foreach ($this->pagesInRange as $page): ?>
                <?php if ($page != $this->current): ?>
                    <li>
                       <a href="<?php echo $this->url(array('page' => $page)) . ($_SERVER['QUERY_STRING'] ? '?' . $_SERVER['QUERY_STRING'] : ''); ?>"><?php echo $page; ?></a>
                    </li>
                <?php else: ?>
                    <li class="active">
                        <a href=#"><?php echo $page; ?></a>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>

            <?php if (isset($this->next)): ?>
                <li>
                    <a href="<?php echo $this->url(array('page' => $this->next))  . ($_SERVER['QUERY_STRING'] ? '?' . $_SERVER['QUERY_STRING'] : ''); ?>">Next &gt;</a>
                </li>
            <?php else: ?>
                <li class="disabled">
                    <a href="#">Next &gt;</a>
                </li>
            <?php endif; ?>
        </ul>
    </div>
<?php endif; ?>