<div class="widget-box">
    <div class="widget-header widget-header-flat widget-header-small">
        <h5>
            <i class="icon-signal"></i>
            Clients Overview
        </h5>
        <div class="widget-toolbar no-border">
            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" id="clients-overview-dropdown">
                <?php if($this->dateRange == '7d'): ?>
                    7 Day
                <?php elseif($this->dateRange == 'yesterday'): ?>
                    Yesterday
                <?php elseif($this->dateRange == 'mtd'): ?>
                    MTD
                <?php elseif($this->dateRange == '30d'): ?>
                    30 Days
                <?php else: ?>
                    Today
                <?php endif; ?>
                <i class="icon-angle-down icon-on-right"></i>
            </button>

            <ul class="dropdown-menu dropdown-info pull-right dropdown-caret widget-daterange" widget="clients-overview">
                <li>
                    <a href="#" date-value="today">Today</a>
                </li>
                <li>
                    <a href="#" date-value="yesterday">Yesterday</a>
                </li>
                <li>
                    <a href="#" date-value="7d">7 Day</a>
                </li>
                <li>
                    <a href="#" date-value="30d">30 Days</a>
                </li>
                <li>
                    <a href="#" date-value="mtd">MTD</a>
                </li>
            </ul>
        </div>
        <div class="widget-toolbar">
            <a data-action="collapse" href="#">
                <i class="icon-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="widget-body center">
        <div class="widget-main">
            <?php if($this->clientsReceivedStat): ?>
                <div class="row">
                    <div class="col-md-7">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Leads Captured</th>
                                    <th>Leads Sold</th>
                                    <th>Conversion Rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach($this->clientsReceivedStat as $clientId => $reveivedStat): ?>
                                    <tr>
                                        <td><?php echo $this->clients[$clientId]; ?></td>
                                        <td><?php echo $reveivedStat['leads']; ?></td>
                                        <td><?php echo $this->clientsSoldStat[$clientId]['leads']; ?></td>
                                        <td><?php echo round($this->clientsSoldStat[$clientId]['leads']/$reveivedStat['leads'] * 100); ?>%</td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-5 widget-body-bordered" id="clients-overview-pie-widget">
                        <div class="widget-main">
                            <?php if($this->clientsSoldStat): ?>
                                <div id="clients-overview-pie"></div>

                                <div class="hr hr8 hr-double"></div>
                                <div class="clearfix">
                                    <?php $i = 1; ?>
                                    <?php foreach($this->clientsSoldStat as $clientId => $clientStat): ?>
                                        <div class="grid3">
                                            <span class="grey">
                                                <?php echo $this->clients[$clientId]?>
                                            </span>
                                            <h4 class="bigger"><?php echo $clientStat['leads'] ?></h4>
                                        </div>
                                        <?php if($i == 3) { break; } ?>
                                        <?php $i++; ?>
                                    <?php endforeach; ?>
                                </div>
                            <?php endif; ?>
                         </div>
                    </div>
                </div>
            <?php else: ?>
                <div class="alert alert-danger">
                    No available data
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>

<?php if($this->clientsSoldStat): ?>
    <script>
        $(function() {
            clientsOverviewChart = new Highcharts.Chart({
                chart: {
                    renderTo: 'clients-overview-pie',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Clients Overview'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y:,f}</b>'
                },
                legend: {
                    enabled: true,
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false, //change if needed Data Labels
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Clients Overview',
                    data: [
                        <?php foreach($this->clientsSoldStat as $clientId => $soldStat): ?>
                             ['<?php echo $this->clients[$clientId]?>', <?php echo $soldStat['leads']?>],
                         <?php endforeach; ?>
                    ]
                }]
            });
        })
    </script>
<?php endif; ?>