<ul>
    <li>
        <strong>Lead ID:</strong> <?php echo $this->lead->id; ?>
    </li>
    <li>
        <strong>Date: </strong>
        <?php echo strftime("%B %d, %Y %H:%M", strtotime($this->lead->date));?>
    </li>
    <li>
        <strong>Form:</strong> <?php echo $this->form->title?>
    </li>
    <li>
        <strong>Form Fields:</strong><br>
        <?php $fieldList = unserialize($this->lead->fields); ?>
        <?php foreach($fieldList as $id => $value): ?>
            <?php echo $this->fields[$id] . ' : ' . $value?><br>
        <?php endforeach; ?>
    </li>
    <?php if($this->lead->state): ?>
        <li><strong>State:</strong> <?php echo $this->lead->state; ?></li>
    <?php endif; ?>
    <li>
        <strong>Sold:</strong> <?php echo $this->lead->sold ? 'Yes' : 'No' ?>
    </li>
    <li>
        <strong>Testing mode:</strong> <?php echo $this->lead->testing ? 'ON' : 'OFF' ?>
    </li>
     <li>
         <strong>Raw Data:</strong><br>
        <?php $rawData = unserialize($this->lead->raw_data); ?>
        <?php foreach($rawData as $key => $value): ?>
            <?php echo $key . ' : ' . $value?><br>
        <?php endforeach; ?>
    </li>
</ul>