img#login-logo {
    width:100%;
}

body.navbar-default {
    padding-top: 45px !important;
}

#navbar .navbar-header.pull-right {
    float: right ! important;
}

#navbar .navbar-header:before, 
#navbar .navbar-header:after {
    content: " ";
    display: none;
}
#navbar ul.ace-nav{
    border: 0 none;
}

#navbar ul.ace-nav li{
    border: 0 none;
}

.user-row-active .label-grey {
    display:none
}
.user-row-active .activate-user {
    display:none
}

.user-row-disable .label-success {
    display:none
}

.user-row-disable .disable-user {
    display:none
}


.notification-row-active .label-grey {
    display:none
}
.notification-row-active .activate-notification {
    display:none
}

.notification-row-disable .label-success {
    display:none
}

.notification-row-disable .disable-notification {
    display:none
}

/* Wizard -> settings */
.affiliate-row-active .activate-affiliate,
.ad-row-active .activate-ad {
    display:none
}

.affiliate-row-disable .disable-affiliate,
.ad-row-disable .disable-ad {
    display:none
}

.spinner {
    left: 50%;
    top: 50%;
}

.spinner-large {
    position: absolute !important;
}

#spinner-modal-content {
    height: 130px;
}

#body-shadow {
    background: none repeat scroll 0 0 black;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:2000;
}

.inline-search-form .form-group{
    display:inline;
}

.inline-search-form .form-group {
    float: left;
}

.inline-search-form .btn {
    margin-left: 10px;
    line-height: 23px;
}

.inline-search-form #daterange {
    margin-left: 10px;
}

input[type="checkbox"]:not(.ace) {
    opacity: 1 !important;
}

.table-no-border {
    border: 0 !important;
}

.table-no-border th, .table-no-border td {
    border-top: 0 !important;
}

.tabbable .tab-content-narrow {
    padding: 16px 5px;
}

/* Clients Page -> Editable */
#clients-list .editable-click, 
#clients-list a.editable-click, 
#clients-list a.editable-click:hover {
    border-bottom: 0 !important;
}

/*Add client -> Step4*/

.email_delivery .email{
    margin: 3px 2px 0 0;
    float: left;
}

.email_delivery #add_delivery_email {
    margin-top: 5px;
}

.widget-body-bordered {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}

.input-cover-inline {
    display:inline;
}

.input-cover-inline span {
    display:inline;
}

.ui-jqgrid .ui-jqgrid-labels {
    background:none repeat scroll 0 0 transparent !important;
}

.modal-form {
    margin:0
}

textarea:not(.form-control), select:not(.form-control), input[type="text"]:not(.form-control), 
input[type="password"]:not(.form-control), input[type="datetime"]:not(.form-control), 
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], input[type="email"], input[type="url"], 
input[type="search"], input[type="tel"], input[type="color"] {
    width: 220px;
}

.error .help-block,
.error .control-label {
  color: #b94a48;
}

.error .control-group {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.error .control-group:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.control-group.error input, .control-group.error select, .control-group.error textarea {
    border-color: #F09784;
    box-shadow: none;
    color: #D68273;
}

input.error, select.error, textarea.error {
    border-color: #F09784 !important;
    box-shadow: none !important;
    color: #D68273 !important;
}

.gritter-without-image {
    text-align: center;
}

table.borderless td {
    border: none !important;
}

.dd2-handle-high {
    height:50px !important; 
    line-height: 50px !important;
}

/*wizard -> settings*/
.editable-password {
    padding-bottom: 5px;
}

@media only screen and (max-width: 768px) {
        /* Force table to not be like tables anymore */
        #responsive-tables table,
        #responsive-tables thead,
        #responsive-tables tbody,
        #responsive-tables th,
        #responsive-tables td,
        #responsive-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #responsive-tables thead tr,
    #responsive-tables tbody tr:nth-child(1) {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #responsive-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #responsive-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #responsive-tables td:before { content: attr(data-title); }
}