<?php $this->headTitle($this->user ? 'Edit User' : 'Add new User')?>
<div class="page-header position-relative">
    <h1><?php echo $this->user ? 'Edit User' : 'Add new User' ?></h1>
</div>

<?php if($this->success): ?>
    <div class="alert alert-block alert-success">
        <p>
            <strong>
                <i class="icon-ok"></i>
                Saved!
            </strong>
            Account was successfully saved!
            <p>
                <a href="/adminpanel/users" class="btn btn-sm btn-success">Show all users</a>
                <a href="/adminpanel/user" class="btn btn-sm">Create another user</a>
            </p>
        </p>
    </div>
<?php else: ?>
    <?php echo $this->form ?>
<?php endif; ?>