<?php $this->headTitle('Users List') ?>
<div class="page-header position-relative">
    <h1>Users List</h1>
</div>
<?php if($this->users->getCurrentItemCount()): ?>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Name</th>
                <th>Role</th>
                <th><i class="icon-time bigger-110 hidden-phone"></i> Last login</th>
                <th><i class="icon-time bigger-110 hidden-phone"></i> Added</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($this->users as $user): ?>
                <tr class="user-row-<?php echo $user->disabled ? 'disable' : 'active'?>"
                    id="user-info-<?php echo $user->id?>">
                    <td><?php echo $user->id?></td>
                    <td><?php echo $user->username?></td>
                    <td><?php echo $user->email?></td>
                    <td><?php echo $user->name?></td>
                    <td><?php echo $this->roles[$user->role]?></td>
                    <td>
                        <?php if($user->last_login): ?>
                            <?php echo strftime("%a %d %B, %Y %H:%M", strtotime($user->last_login))?>
                        <?php endif; ?>
                    </td>
                    <td><?php echo strftime("%a %d %B, %Y %H:%M", strtotime($user->added))?></td>
                    <td>
                        <span class="label label-grey">Disabled</span>
                        <span class="label label-success">Active</span>
                    </td>
                    <td>
                        <a href="/adminpanel/edit-user/id/<?php echo $user->id?>" 
                           class="btn btn-xs btn-info" alt="Edit">
                            <i class="icon-edit bigger-120"></i>
                        </a>
                        <a href="#" class="btn btn-xs btn-success activate-user" userId="<?php echo $user->id?>"
                            id="activate-user-<?php echo $user->id?>" title="Activate User" data-rel="tooltip">
                            <i class="icon-ok-circle bigger-120"></i>
                        </a>
                        <a href="#" class="btn btn-xs btn-grey disable-user" userId="<?php echo $user->id?>"
                           id="disable-user-<?php echo $user->id?>" title="Disable User" data-rel="tooltip">
                            <i class="icon-ban-circle bigger-120"></i>
                        </a>
                        <a href="#" class="btn btn-xs btn-danger delete-user" userId="<?php echo $user->id?>"
                           title="Delete User" data-rel="tooltip">
                            <i class="icon-trash bigger-120"></i>
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <?php if($this->users->count() > 1): ?>
        <?php echo $this->paginationControl($this->users, 'Sliding', '/paginator/paginator.phtml'); ?>
    <?php endif; ?>
<?php else: ?>
    <div class="alert alert-info">
        <button data-dismiss="alert" class="close" type="button">
            <i class="icon-remove"></i>
        </button>
        Users was not found
    </div>
<?php endif; ?>