<div class="widget-box">
    <div class="widget-header widget-header-flat">
        <h5>By Campaign</h5>

        <div class="widget-toolbar no-border">
            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" id="campaigns-stat-dropdown">
                <?php if($this->from): ?>
                    <?php echo strftime("%d %B, %Y", strtotime($this->from)) ?> - 
                    <?php echo strftime("%d %B, %Y", strtotime($this->to)) ?>
                <?php else: ?>
                    <?php echo $this->dateRange()->getName($this->dateRange); ?>
                <?php endif; ?>
                <i class="icon-angle-down icon-on-right"></i>
            </button>

            <ul class="dropdown-menu dropdown-info pull-right dropdown-caret table-stat-daterange" id="campaigns-stat-daterange" table="campaigns-stat">
                <?php echo $this->render('accounting/widget/date-range.phtml') ?>
            </ul>
        </div>
    </div>

    <div class="widget-body">
        <?php if($this->affiliateStatByCampaigns): ?>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Campaign</th>
                        <th>Leads</th>
                        <th>Revenue</th>
                        <th>Cost</th>
                        <th>Profit</th>
                        <th>ROI</th>
                        <th>EPC</th>
                        <th>Trend</th>
                    </tr>
                </thead>
                <?php foreach($this->campaigns as $campaignId => $campaign): ?>
                    <?php if((empty($this->affiliateStatByCampaigns[$campaignId]) || $this->affiliateStatByCampaigns[$campaignId]['commission'] == 0) && 
                            (empty($this->adStatByCampaigns[$campaignId]) || $this->adStatByCampaigns[$campaignId]['spend'] == 0)) { continue; }
                    ?>

                    <tr>
                        <td>
                            <a href="/accounting/campaigns?campaign=<?php echo $campaignId?>">
                                <strong><?php echo $campaign ?></strong>
                            </a>
                        </td>
                        <td>
                            <?php echo !empty($this->affiliateStatByCampaigns[$campaignId]) ?
                                $this->affiliateStatByCampaigns[$campaignId]['leads'] : 0; ?>
                        </td>
                        <td>
                            <?php $revenue = !empty($this->affiliateStatByCampaigns[$campaignId]) ? 
                                $this->affiliateStatByCampaigns[$campaignId]['commission'] : 0; ?>
                            $<?php echo number_format($revenue, 2) ?>
                        </td>
                        <td>
                            <?php $spend = !empty($this->adStatByCampaigns[$campaignId]) ? 
                                $this->adStatByCampaigns[$campaignId]['spend'] : 0 ?>
                            $<?php echo number_format($spend, 2) ?>
                        </td>
                        <td>
                            <?php $profit = $revenue-abs($spend); ?>
                            <span class="<?php echo $profit < 0 ? 'red' : 'green' ?>">
                                $<?php echo number_format($profit, 2)?>
                            </span>
                        </td>
                        <td>
                            <?php echo $this->roi()->get($profit, $spend, true) ?>%
                        </td>
                        <td>
                            <?php $epc = !empty($this->affiliateStatByCampaigns[$campaignId]) ? 
                                $this->affiliateStatByCampaigns[$campaignId]['epc'] : 0; ?>
                            <?php echo number_format($epc, 2) ?>
                        </td>
                        <td>
                            <?php if(!empty($this->trend[$campaignId])): ?>
                                <?php $prevProfit = $this->trend[$campaignId]['prev_profit']; ?>
                                <?php $newProfit = $this->trend[$campaignId]['new_profit']; ?>
                                <?php $diff = ($newProfit < $prevProfit) ? ($prevProfit - $newProfit) : ($newProfit - $prevProfit); ?>
                                <?php $percents = (abs($diff/($prevProfit ? : 1)) * 100)?>

                                <span class="<?php echo !$diff ? 'grey' : ($newProfit < $prevProfit ? 'red' : 'green')?>">
                                    <?php if(!$diff): ?>
                                        <i class="icon-equal" style="font-size: 18px;">=</i>
                                    <?php else: ?>
                                        <i class="icon-arrow-<?php echo ($newProfit < $prevProfit ? 'down' : 'up')?>"></i>
                                    <?php endif; ?>
                                    <?php echo number_format($percents, 2) ?>%
                                </span>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        <?php else: ?>
            <div class="widget-main">
                <div class="alert alert-danger">
                    No available data
                </div>
            </div>
        <?php endif; ?>
    </div>
</div>

<script>
    $(function() {
        $('#campaigns-stat-daterange .custom_date_range').daterangepicker(
            {
                format: 'MM/DD/YYYY',
                opens: 'left'
            },
            function(start, end) {
                var get_params = [];
                get_params.push(start.format('YYYY-MM-DD'));
                get_params.push(end.format('YYYY-MM-DD'));

                updateTable('campaigns-stat', get_params);
            }
        );
    })
</script>