<div class="widget-box">
    <div class="widget-header widget-header-flat widget-header-small">
        <h5>
            <i class="icon-signal"></i>
            Revenue By Campaigns
        </h5>
        <div class="widget-toolbar no-border">
            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" id="campaign-revenue-dropdown">
                <?php if($this->from): ?>
                    <?php echo strftime("%d %B, %Y", strtotime($this->from)) ?> - 
                    <?php echo strftime("%d %B, %Y", strtotime($this->to)) ?>
                <?php else: ?>
                    <?php echo $this->dateRange()->getName($this->dateRange); ?>
                <?php endif; ?>
                <i class="icon-angle-down icon-on-right"></i>
            </button>

            <ul class="dropdown-menu dropdown-info pull-right dropdown-caret pie-cart-daterange" id="campaign-revenue-daterange" chart="campaign-revenue">
                <?php echo $this->render('accounting/widget/date-range.phtml') ?>
            </ul>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <?php if($this->affiliateTotalStatByCampaigns): ?>
                <div id="campaigns-revenue">
                </div>
                <div class="hr hr8 hr-double"></div>
                <div class="clearfix">
                    <?php $i = 1; ?>
                    <?php foreach($this->affiliateTotalStatByCampaigns as $campaignStat): ?>
                        <div class="grid3">
                            <span class="grey">
                                <?php echo $this->campaigns[$campaignStat['campaign_id']]?>
                            </span>
                            <h4 class="bigger">$<?php echo number_format($campaignStat['commission'], 2) ?></h4>
                        </div>
                        <?php if($i == 3) { break; } ?>
                        <?php $i++; ?>
                    <?php endforeach; ?>
                </div>
            <?php else: ?>
                <div class="alert alert-danger">
                    No available data
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>


<script>
    $(function () {
        $('#campaign-revenue-daterange .custom_date_range').daterangepicker(
            {
                format: 'MM/DD/YYYY',
                opens: 'left'
            },
            function(start, end) {
                var get_params = [];
                get_params.push(start.format('YYYY-MM-DD'));
                get_params.push(end.format('YYYY-MM-DD'));

                updateChart('campaign-revenue', get_params);
            }
        );
        <?php if($this->affiliateTotalStatByCampaigns): ?>
            campaignRevenueChart = new Highcharts.Chart({
                chart: {
                    renderTo: 'campaigns-revenue',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Revenue By Campaigns'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>${point.y:,.2f}</b>'
                },
                legend: {
                    enabled: true,
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false, //change if needed Data Labels
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Revenue',
                    data: [
                         <?php foreach($this->affiliateTotalStatByCampaigns as $campaignStat): ?>
                             ['<?php echo $this->campaigns[$campaignStat['campaign_id']]?>', <?php echo $campaignStat['commission']?>],
                         <?php endforeach; ?>
                    ]
                }]
            });
        <?php endif; ?>
    });
</script>