<div class="widget-box">
    <div class="widget-header widget-header-flat">
        <h5>Campaign Performance</h5>

        <div class="widget-toolbar no-border">
            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" id="campaign-performance-dropdown">
                <?php if($this->from): ?>
                    <?php echo strftime("%d %B, %Y", strtotime($this->from)) ?> - 
                    <?php echo strftime("%d %B, %Y", strtotime($this->to)) ?>
                <?php else: ?>
                    <?php echo $this->dateRange()->getName($this->dateRange); ?>
                <?php endif; ?>
                <i class="icon-angle-down icon-on-right"></i>
            </button>

            <ul class="dropdown-menu dropdown-info pull-right dropdown-caret table-stat-daterange" id="campaign-performance-daterange" table="campaign-performance">
               <?php echo $this->render('accounting/widget/date-range.phtml') ?>
            </ul>
        </div>
    </div>

    <div class="widget-body">
        <?php $affiliateTotal = $this->affiliateTotal; ?>
        <?php if($this->affiliateStatByTraffic || $this->adTrafficStats): ?>
            <?php $adTraffics = array_keys($this->affiliateStatByTraffic) + array_keys($this->adTrafficStats)?>
            <table class="table table-hover widget-table">
                <thead>
                    <tr>
                        <th>Traffic Source</th>
                        <th>Revenue</th>
                        <th>Spend</th>
                        <th>Profit/Loss</th>
                        <th>ROI</th>
                        <th>Avg.CPC</th>
                        <th>EPC</th>
                        <th>CPL</th>
                        <th>Trend</th>
                    </tr>
                </thead>
                <tbody>
                    <?php $sumLeads = $sumClicks = $sumCommission = $sumSpend = $sumEpc = 0 ?>
                    <?php foreach($adTraffics as $source): ?>
                        <?php $epc = !empty($this->affiliateStatByTraffic[$source]) ? $this->affiliateStatByTraffic[$source]['epc'] : 0; ?>
                        <?php $leads = !empty($this->affiliateStatByTraffic[$source]) ? $this->affiliateStatByTraffic[$source]['leads'] : 0; ?>
                        <?php $clicks = !empty($this->affiliateStatByTraffic[$source]) ? $this->affiliateStatByTraffic[$source]['clicks'] : 0; ?>
                        <tr>
                            <td><strong><?php echo $this->exportResources['ad'][$source] ?></strong></td>
                            <td>
                                <?php $commission = !empty($this->affiliateStatByTraffic[$source]) ? $this->affiliateStatByTraffic[$source]['commission'] : 0?>
                                <?php echo number_format($commission, 2); $sumCommission += $commission; ?>
                            </td>
                            <td>
                                <?php $spend = !empty($this->adTrafficStats[$source]) ? $this->adTrafficStats[$source]['spend'] : 0 ?>
                                <?php echo number_format($spend, 2); $sumSpend += $spend; ?>
                            </td>
                            <td>
                                <?php $profit = $commission - abs($spend);?>
                                <span class="<?php echo $profit < 0 ? 'red' : 'green' ?>">
                                    <?php echo number_format($profit, 2); ?>
                                </span>
                            </td>
                            <td><?php echo $this->roi()->get($profit, $spend, true) ?>%</td>
                            <td><?php echo number_format(($clicks != 0 ? $spend/$clicks : 0), 2); $sumClicks + $clicks; ?></td>
                            <td><?php echo round($epc, 2); $sumEpc += $epc; ?></td>
                            <td><?php echo number_format(($leads != 0 ? $spend/$leads : 0), 2); $sumLeads += $leads; ?></td>
                            <td></td>
                        </tr>
                    <?php endforeach; ?>
                    <?php $unknownSpend = 0;?>
                    <?php $unknownRevenue = $affiliateTotal['commission'] - $sumCommission; ?>
                    <?php $unknownProfit = $unknownRevenue - $unknownSpend;?>
                    <?php $unknownClicks = $affiliateTotal['clicks'] - $sumClicks;?>
                    <?php $unknownLeads = $affiliateTotal['leads'] - $sumLeads;?>
                    <tr>
                        <td><strong>Unknown</strong></td>
                        <td><?php echo number_format($unknownRevenue, 2); ?></td>
                        <td><?php echo number_format($unknownSpend, 2) ?></td>
                        <td>
                            <span class="<?php echo $unknownProfit < 0 ? 'red' : 'green' ?>">
                                <?php echo number_format($unknownProfit, 2) ?>
                            </span>
                        </td>
                        <td><?php echo $this->roi()->get($unknownProfit, $unknownSpend, true) ?>%</td>
                        <td><?php echo number_format(($unknownClicks != 0 ? $unknownSpend/$unknownClicks : 0), 2);?></td>
                        <td><?php echo round($affiliateTotal['epc'] - $sumEpc, 2); ?></td>
                        <td><?php echo number_format(($unknownLeads != 0 ? $unknownSpend/$unknownLeads : 0), 2); ?></td>
                        <td></td>
                    </tr>

                    <?php $totalProfit = $affiliateTotal['commission'] - abs($sumSpend); ?>
                    <?php $roi = $this->roi()->get($totalProfit, $sumSpend) ?>
                    <?php $avgCPL = ($affiliateTotal['leads'] != 0) ? $sumSpend/$affiliateTotal['leads'] : 0 ?>
                    <?php $avgCPC = ($affiliateTotal['clicks'] != 0) ? $sumSpend/$affiliateTotal['clicks'] : 0 ?>
                    <tr class="success">
                        <td>Total</td>
                        <td><?php echo number_format($affiliateTotal['commission'], 2) ?></td>
                        <td><?php echo number_format($sumSpend, 2) ?></td>
                        <td>
                            <span class="<?php echo $totalProfit < 0 ? 'red' : 'green' ?>">
                                <?php echo number_format($totalProfit, 2) ?>
                            </span>
                        </td>
                        <td><?php echo $this->roi()->format($roi) ?>%</td>
                        <td><?php echo number_format($avgCPC, 2) ?></td>
                        <td><?php echo number_format($affiliateTotal['epc'], 2) ?></td>
                        <td><?php echo number_format($avgCPL, 2) ?></td>
                        <td></td>
                    </tr>
                    <tr class="active">
                        <td>Average</td>
                        <td><?php echo number_format($affiliateTotal['commission']/$this->statDays, 2) ?></td>
                        <td><?php echo number_format($spend/$this->statDays, 2) ?></td>
                        <td>
                            <span class="<?php echo $totalProfit < 0 ? 'red' : 'green' ?>">
                                <?php echo number_format($totalProfit/$this->statDays, 2) ?>
                            </span>
                        </td>
                        <td><?php echo $this->roi()->format($roi/$this->statDays) ?>%</td>
                        <td><?php echo number_format($avgCPC/$this->statDays, 2) ?></td>
                        <td><?php echo number_format($affiliateTotal['epc']/$this->statDays, 2) ?></td>
                        <td><?php echo number_format($avgCPL/$this->statDays, 2) ?></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        <?php else: ?>
            <div class="widget-main">
                <div class="alert alert-danger">
                    No available data
                </div>
            </div>
        <?php endif; ?>
    </div>
</div>
<script>
    $(function () {
         $('#campaign-performance-daterange .custom_date_range').daterangepicker(
            {
                format: 'MM/DD/YYYY',
                opens: 'left'
            },
            function(start, end) {
                var get_params = [];
                get_params.push(start.format('YYYY-MM-DD'));
                get_params.push(end.format('YYYY-MM-DD'));

                updateTable('campaign-performance', get_params);
            }
        );
    })
</script>