<div class="widget-box">
    <div class="widget-header widget-header-flat">
        <h5>P/L Performance</h5>
    </div>

    <div class="widget-body">
        <table class="table table-hover widget-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Current</th>
                    <th>Previous</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($this->statDateRanges as $dateRange): ?>
                    <tr>
                        <td>
                            <strong>
                                <?php echo $this->dateRange()->getName($dateRange); ?>
                            </strong>
                        </td>
                        <?php foreach($this->campaignStat[$dateRange] as $key => $stat): ?>
                            <td>
                                <?php $commission = !empty($stat['commission']) ? $stat['commission'] : 0 ?>
                                <?php $spend = !empty($stat['spend']) ? $stat['spend'] : 0 ?>
                                <?php $profit = $commission - $spend ?>
                                <span class="<?php echo $profit < 0 ? 'red' : 'green' ?>">
                                    <?php echo number_format($profit, 2); ?>
                                </span>
                            </td>
                        <?php endforeach; ?>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>