<li>
    <a href="#" date-value="today">Today</a>
</li>
<li>
    <a href="#" date-value="yesterday">Yesterday</a>
</li>
<li>
    <a href="#" date-value="7d">7 Day</a>
</li>
<li>
    <a href="#" date-value="30d">30 Days</a>
</li>
<li>
    <a href="#" date-value="mtd">MTD</a>
</li>
<li>
    <a href="#" class="custom_date_range">Date Range</a>
</li>

<script>
    $(function () {
        $('.custom_date_range').click(function() {
            $(this).closest('.dropdown-menu').css('display','block');
        });
    })
</script>