<div class="widget-box">
    <div class="widget-header widget-header-flat">
        <h5>By Traffic Source</h5>

        <div class="widget-toolbar no-border">
            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" id="traffic-stat-dropdown">
                <?php if($this->from): ?>
                    <?php echo strftime("%d %B, %Y", strtotime($this->from)) ?> - 
                    <?php echo strftime("%d %B, %Y", strtotime($this->to)) ?>
                <?php else: ?>
                    <?php echo $this->dateRange()->getName($this->dateRange); ?>
                <?php endif; ?>
                <i class="icon-angle-down icon-on-right"></i>
            </button>

            <ul class="dropdown-menu dropdown-info pull-right dropdown-caret table-stat-daterange" id="traffic-stat-daterange" table="traffic-stat">
               <?php echo $this->render('accounting/widget/date-range.phtml') ?>
            </ul>
        </div>
    </div>

    <div class="widget-body">
        <?php if($this->mtdAdPlatformSpend): ?>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Traffic Source</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <!--TODO: sort alphabetically -->
                <?php foreach($this->mtdAdPlatformSpend as $source => $stat): ?>
                    <tr>
                        <td><strong><?php echo $this->exportResources['ad'][$source] ?></strong></td>
                        <td>
                            $<?php echo number_format($stat['spend'], 2) ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        <?php else: ?>
            <div class="widget-main">
                <div class="alert alert-danger">
                    No available data
                </div>
            </div>
        <?php endif; ?>
    </div>
</div>

<script>
    $(function() {
        $('#traffic-stat-daterange .custom_date_range').daterangepicker(
            {
                format: 'MM/DD/YYYY',
                opens: 'left'
            },
            function(start, end) {
                var get_params = [];
                get_params.push(start.format('YYYY-MM-DD'));
                get_params.push(end.format('YYYY-MM-DD'));

                updateTable('traffic-stat', get_params);
            }
        );
    })
</script>