<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <?php
        echo $this->headMeta()->appendHttpEquiv('content-type', 'text/html;charset=utf-8');
        echo $this->headTitle(' | Leadssistant');

        echo $this->headScript()
            ->prependFile('/assets/js/main.js')
            ->prependFile('/assets/js/jquery.form.js')
            ->prependFile('/assets/js/jquery.validate.min.js')
            ->prependFile('/assets/js/bootstrap.min.js')
            ->prependFile('//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
            ->prependFile('//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
            ->prependFile('/assets/js/jquery-1.10.2.min.js', 'text/javascript', array('conditional' => 'IE'));

        echo $this->headLink()
            ->appendStylesheet('/assets/css/style.css')
            ->appendStylesheet('/assets/css/bootstrap.min.css')
            ->appendStylesheet('/assets/css/font-awesome.min.css')
            ->appendStylesheet('/assets/css/ace-fonts.css')
            ->appendStylesheet('/assets/css/ace.min.css')
            ->appendStylesheet('/assets/css/ace-skins.min.css')
            ->appendStylesheet('/assets/css/font-awesome-ie7.min.css', 'screen', 'IE7')
            ->appendStylesheet('/assets/css/ace-ie.min.css', 'screen', 'IE8');
        ?>
    </head>
    <body class="login-layout">
        <div class="main-container">
            <div class="main-content">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="login-container">
                            <div class="center">
                                <h1>
                                    <img src="/assets/img/logo-white.png" id="login-logo">
                                </h1>
                                <h4 class="blue">&copy; Leadssistant</h4>
                            </div>
                            <div class="space-6"></div>
                            <div class="position-relative">
                                <?php echo $this->layout()->content; ?>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>