<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />

        <?php
        echo $this->headMeta()->appendHttpEquiv('content-type', 'text/html;charset=utf-8');
        echo $this->headTitle(' | Leadssistant');

        echo $this->headScript()
            ->prependFile('/assets/js/main.js')
            ->prependFile('/assets/js/date-time/daterangepicker.js')
            ->prependFile('/assets/js/date-time/moment.min.js')
            ->prependFile('/assets/js/jquery.gritter.min.js')
            ->prependFile('/assets/js/jquery.floatThead.min.js')
            ->prependFile('/assets/js/underscore-min.js')
            ->prependFile('/assets/js/spin.min.js')
            ->prependFile('/assets/js/ace-extra.min.js')
            ->prependFile('/assets/js/x-editable/ace-editable.min.js')
            ->prependFile('/assets/js/uncompressed/x-editable/bootstrap-editable.js')
            ->prependFile('/assets/js/jquery.gritter.min.js')
            ->prependFile('/assets/js/chosen.jquery.js')
            ->prependFile('/assets/js/bootbox.min.js')
            ->prependFile('/assets/js/jquery.validate.additional-methods.js')
            ->prependFile('/assets/js/jquery.validate.min.js')
            ->prependFile('/assets/js/ace.min.js')
            ->prependFile('/assets/js/uncompressed/ace-elements.js')
            ->prependFile('/assets/js/bootstrap.min.js')
            ->prependFile('//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
            ->prependFile('//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
            ->prependFile('/assets/js/jquery-1.10.2.min.js', 'text/javascript', array('conditional' => 'IE'));
        echo $this->headLink()
            ->appendStylesheet('/assets/css/daterangepicker.css')
            ->appendStylesheet('/assets/css/jquery-ui-1.10.3.full.min.css')
            ->appendStylesheet('/assets/css/ui.jqgrid.css')
            ->appendStylesheet('/assets/css/style.css')
            ->appendStylesheet('/assets/css/bootstrap-editable.css')
            ->appendStylesheet('/assets/css/jquery.gritter.css')
            ->appendStylesheet('/assets/css/chosen.css')
            ->appendStylesheet('/assets/css/bootstrap.min.css')
            ->appendStylesheet('/assets/css/font-awesome.min.css')
            ->appendStylesheet('/assets/css/ace-fonts.css')
            ->appendStylesheet('/assets/css/ace.min.css')
            ->appendStylesheet('/assets/css/ace-skins.min.css')
            ->appendStylesheet('/assets/css/font-awesome-ie7.min.css', 'screen', 'IE7')
            ->appendStylesheet('/assets/css/ace-ie.min.css', 'screen', 'IE8');
        ?>
    </head>
    <body class="<?php echo $this->is_desktop ? 'navbar-fixed breadcrumbs-fixed' : 'navbar-mobile'?> <?php echo (!empty($this->currentUser) && $this->currentUser->theme) ? $this->currentUser->theme : '' ?>">
        <?php if($this->currentUser): ?>
            <div class="navbar navbar-default <?php echo $this->is_desktop ? 'navbar-fixed-top' : '' ?>" id="navbar" role="navigation">
                <div class="navbar-container" id="navbar-container">
                    <div class="navbar-header pull-left">
                        <a href="<?php echo $this->currentUser->logo_link ? : '/accounting/summary' ?>" class="navbar-brand">
                            <img src="/assets/img/logo/<?php echo $this->currentUser->logo ? : 'logo-white-small.png' ?>">
                        </a>
                    </div>

                    <div class="navbar-header pull-right" role="navigation">
                        <ul class="nav ace-nav">
                            <li class="light-blue">
                                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                    <span class="user-info">
                                        <small>Welcome,</small>
                                        <?php echo ucwords($this->currentUser->username); ?>
                                    </span>

                                    <i class="icon-caret-down"></i>
                                </a>

                                <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                    <li>
                                        <a href="#">
                                            <i class="icon-cog"></i> Settings
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/user/profile">
                                            <i class="icon-user"></i> Profile
                                        </a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="/logout">
                                            <i class="icon-off"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        <?php endif; ?>

        <div class="main-container" id="main-container">
            <div class="main-container-inner">
                <?php echo $this->render('menu/left-menu.phtml') ?>
                <div class="main-content">
                    <?php echo $this->render('menu/breadcrumbs.phtml') ?>
                    <div class="page-content">

                        <?php echo $this->layout()->content; ?>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>