<?php echo $this->headTitle($this->message); ?>
<div class="row">
    <div class="col-xs-12">

        <div class="error-container">
            <div class="well">
                <h1 class="grey lighter smaller">
                    <span class="blue bigger-125">
                        <i class="icon-sitemap"></i>
                        <?php echo $this->error_code ?>
                    </span>
                    <?php echo $this->message?>
                </h1>

                <hr />
                <h3 class="lighter smaller">We looked everywhere but we couldn't find it!</h3>

                <hr />
                <div class="space"></div>

                <div class="center">
                    <a href="#" class="btn btn-grey" onclick="history.go(-1);">
                        <i class="icon-arrow-left"></i>
                        Go Back
                    </a>

                    <a href="#" class="btn btn-primary">
                        <i class="icon-dashboard"></i>
                        Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>