<?php $this->headTitle('Account Setup Wizard') ?>
<div class="page-header position-relative">
    <h1>Account Connect</h1>
</div>

<?php if(!empty($this->response['success'])): ?>
    <div class="alert alert-block alert-success">
        <p>
            <strong><i class="icon-ok"></i> Connected!</strong>
            Your account was successfully connected
        </p>

        <p>
            <a href="/wizard/account-connect" class="btn btn-sm">Connect another account</a>
        </p>
    </div>
<?php else: ?>
    <?php if(!empty($this->response['errorMessage'])): ?>
        <div class="alert alert-danger">
            <button data-dismiss="alert" class="close" type="button">
                <i class="icon-remove"></i>
            </button>

            <?php echo $this->response['errorMessage'] ?>
        </div>
    <?php endif; ?>

    <?php if($this->fbAds->count()): ?>
        <div class="row">
            <div class="col-sm-5">
                <div class="widget-box transparent additional-info" id="facebook-info">
                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <table class="table table-bordered table-striped">
                                <thead class="thin-border-bottom">
                                    <tr>
                                        <th>FB Account</th>
                                        <th>IP</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <?php $mainIp = App_Utils::getServerMainIp(); ?>
                                    <?php foreach($this->fbAds as $ad): ?>
                                        <?php $decryptedCredentials = App_Utils::decryptString(base64_decode($ad->credentials));?>
                                        <?php $credentials = unserialize($decryptedCredentials); ?>
                                        <tr>
                                            <td><?php echo $credentials['email']; ?></td>
                                            <td>
                                                <?php echo !empty($credentials['ip']) ? $credentials['ip'] : $mainIp; ?>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>

    <?php echo $this->form?>

    <?php $this->headScript()->captureStart() ?>
        var exportResources = <?php echo $this->resources?>;

        $(function() {
            $('body').on('submit', 'form', function() {
                showLargeSpinner();
            })

            changeAccountType($('#selectapi-resource').val());
            $('#account-connect-form').find('dt').hide();
            $('#selectapi-resource').change(showCredentials);
            $('#selectapi-account_type').change(function() {changeAccountType()});
        })

        //show options depends on selected account type:
        function changeAccountType(currentResource) {
            var currentType = $('#selectapi-account_type').val();
            $('#selectapi-resource option').remove();

            for(i in exportResources[currentType]) {
                $('#selectapi-resource').append('<option value="' + i + '">'+exportResources[currentType][i]+'</option>');
            }

            if(currentResource) {
                $('#selectapi-resource').val(currentResource);
            }
            showCredentials();
        }

        //show credentials depends on selected resource
        function showCredentials() {
            var selected = $('#selectapi-resource').val();

            $('.connection_credentials').parent().hide();
            $('#'+selected+'-element').show();

            $('.additional-info').hide();
            $('#'+selected+'-info').show();
        }
    <?php $this->headScript()->captureEnd() ?>
<?php endif; ?>
