<?php $this->headTitle('Ad Performance Pairing') ?>

<?php $this->headScript()->appendFile('/assets/js/fuelux/fuelux.wizard.min.js') ?>
<?php $this->headScript()->appendFile('/assets/js/uncompressed/fuelux/fuelux.tree.js') ?>
<?php $this->headScript()->appendFile('/assets/js/ad-pairing.js') ?>

<div class="row">
    <div class="col-md-12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="lighter">Ad Performance Wizard</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row-fluid">
                        <?php if($this->success): ?>
                            <div class="alert alert-block alert-success">
                                <p>
                                    <strong>
                                        <i class="icon-ok"></i>
                                        Well done!
                                    </strong>
                                    Your changes was successfully saved!
                                </p>

                                <p>
                                    <a href="/wizard/ad-pairing" class="btn btn-sm">Configurate another Campaign</a>
                                </p>
                            </div>
                        <?php else: ?>
                            <div id="fuelux-wizard" class="row-fluid" data-target="#step-container">
                                <ul class="wizard-steps">
                                    <li data-target="#step1" class="active">
                                        <span class="step">1</span>
                                        <span class="title">Select a Campaign</span>
                                    </li>

                                    <li data-target="#step2">
                                        <span class="step">2</span>
                                        <span class="title">Select Subids & Campaigns</span>
                                    </li>

                                    <li data-target="#step3">
                                        <span class="step">3</span>
                                        <span class="title">Pairing</span>
                                    </li>
                                </ul>
                            </div>

                            <hr />
                            <div class="step-content row-fluid position-relative" id="step-container">
                                <form class="form-horizontal" id="step1-pairing-form" method="post">

                                    <div class="step-pane active" id="step1">
                                        <h3 class="lighter block green">Select a campaign to begin pairing</h3>
                                        <?php echo $this->form->campaign ?>
                                    </div>

                                    <div class="step-pane" id="step2">
                                        <h2 class="lighter block green" id="campaign-name"></h2>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="widget-box">
                                                            <div class="widget-header header-color-blue2">
                                                                <h4 class="lighter smaller">Affiliate Networks</h4>
                                                            </div>

                                                            <div class="widget-body">
                                                                <div class="widget-main padding-8" id="affiliate-tree-cont">
                                                                    <input type="text" id="affiliate-search" placeholder="Search Network">
                                                                    <div id="affiliate_campaigns_tree" class="tree"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="widget-box">
                                                            <div class="widget-header header-color-green2">
                                                                <h4 class="lighter smaller">Ad Platforms</h4>
                                                            </div>

                                                            <div class="widget-body">
                                                                <div class="widget-main padding-8" id="ad-tree-cont">
                                                                    <input type="text" id="ad-search" placeholder="Search Platform">
                                                                    <div id="ad_campaigns_tree" class="tree"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step-pane" id="step3">
                                        <h3 class="lighter block green">Step 3 - Pairing</h3>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row" id="subid-pairing">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <?php echo $this->form->affiliate_campaigns ?>
                                    <?php echo $this->form->ad_campaigns ?>
                                </form>
                            </div>

                            <hr />
                            <div class="row-fluid wizard-actions">
                                <button class="btn btn-danger" id="cancel-pairing" style="display:none">
                                    <i class="icon-remove"></i>
                                    Cancel
                                </button>

                                <button class="btn btn-prev">
                                    <i class="icon-arrow-left"></i>
                                    Prev
                                </button>

                                <button class="btn btn-success btn-next" data-last="Finish">
                                    Next
                                    <i class="icon-arrow-right icon-on-right"></i>
                                </button>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>