<table class="table table-bordered">
    <thead>
        <tr>
            <th>Source</th>
            <th>Ad Set</th>
            <th>Ad Name</th>
            <th>Subid</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->advertsList as $advert): ?>
            <?php $pair = !empty($this->pairs[$advert['id']]) ? $this->pairs[$advert['id']] : array() ?>
            <tr>
                <td><?php echo $this->exportResources['ad'][$advert['source']]?></td>
                <td>
                    <?php if($advert['ad_group_id']): ?>
                        <?php echo $advert['ad_group']?>
                    <?php endif; ?>
                </td>
                <td><?php echo $advert['header']?></td>
                <td>
                    <select class="chosen-subids" name="advertslist[<?php echo $advert['id']?>][subid]">
                        <option value="0">Select Sub ID</option>
                        <?php foreach($this->subIds as $subid): ?>
                            <option value="<?php echo $subid['id']?>" <?php echo (!empty($pair) && $pair['affiliate_subid_id'] == $subid['id']) ? 'selected="selected"': ''?>>
                                <?php echo $subid['name']?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                </td>
                <td>
                    <input type="text" name="advertslist[<?php echo $advert['id']?>][name]" value="<?php echo (!empty($pair) ? $pair['name'] : '')?>">
                    <input type="hidden" name="advertslist[<?php echo $advert['id']?>][advert_id]" value="<?php echo $advert['id']?>">
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>