<?php $this->headTitle('Campaign Pairing') ?>

<?php if(!$this->success): ?>
    <?php $this->headScript()->appendFile('/assets/js/fuelux/fuelux.wizard.min.js') ?>
    <?php $this->headScript()->appendFile('/assets/js/uncompressed/fuelux/fuelux.tree.js') ?>
    <?php $this->headScript()->appendFile('/assets/js/pairing.js') ?>
<?php endif; ?>

<div class="row">
    <div class="col-md-12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="lighter">Campaign Pairing </h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row-fluid">
                        <?php if($this->success): ?>
                            <div class="alert alert-block alert-success">
                                <p>
                                    <strong>
                                        <i class="icon-ok"></i>
                                        Well done!
                                    </strong>
                                    Your changes was successfully saved!
                                </p>

                                <p>
                                    <a href="/wizard/pairing" class="btn btn-sm">Create new Campaign</a>
                                </p>
                            </div>
                        <?php else: ?>
                            <div class="step-content row-fluid position-relative" id="step-container">
                                <form class="form-horizontal" id="step1-pairing-form" method="post">

                                    <div class="step-pane active" id="step1">
                                        <?php echo $this->form ?>

                                        <div id="pairing-options">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="widget-box">
                                                                <div class="widget-header header-color-blue2">
                                                                    <h4 class="lighter smaller">Affiliate Networks</h4>
                                                                </div>

                                                                <div class="widget-body">
                                                                    <div class="widget-main padding-8" id="affiliate-tree-cont">
                                                                        <input type="text" class="campaign_search" data-source="affiliate" id="affiliate-search" placeholder="Search Network">
                                                                        <a href="#" class="select-all" data-source="affiliate">Select All</a>
                                                                        <div id="affiliate_campaigns_tree" class="tree"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="widget-box">
                                                                <div class="widget-header header-color-green2">
                                                                    <h4 class="lighter smaller">Ad Platforms</h4>
                                                                </div>

                                                                <div class="widget-body">
                                                                    <div class="widget-main padding-8" id="ad-tree-cont">
                                                                        <input type="text" class="campaign_search" data-source="ad" id="ad-search" placeholder="Search Platform">
                                                                        <a href="#" class="select-all" data-source="ad">Select All</a>
                                                                        <div id="ad_campaigns_tree" class="tree"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <h3>Traffic Source Subid Pairing</h3>
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <h5>Cake</h5>
                                                            <table class="table table-striped table-bordered table-hover traffic_source_list" data-affiliate="cakemarketing">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Traffic Source</th>
                                                                        <!--<th>Subid Number</th>-->
                                                                        <th>Subid Code</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h5>Link Trust</h5>
                                                            <table class="table table-striped table-bordered table-hover traffic_source_list" data-affiliate="linktrust">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Traffic Source</th>
                                                                        <!--<th>Subid Number</th>-->
                                                                        <th>Subid Code</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <hr />
                            <div class="row-fluid wizard-actions">
                                <button class="btn btn-danger" id="cancel-pairing">
                                    <i class="icon-remove"></i>
                                    Cancel
                                </button>

                                <button class="btn btn-success btn-next" id="btn-save-changes">
                                    Save
                                    <i class="icon-arrow-right icon-on-right"></i>
                                </button>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    <?php if($this->subidSettings): ?>
        <?php foreach($this->subidSettings as $setting): ?>
            subidSettings.push({'ad': '<?php echo $setting->ad ?>', 'affiliate': '<?php echo $setting->affiliate ?>', 'code': '<?php echo $setting->code ?>'});
        <?php endforeach; ?>
    <?php endif; ?>
</script>