<script type="text/javascript" src="/assets/js/password-editable.js"></script>

<?php $this->headTitle('Settings — Wizard') ?>
<div class="page-header position-relative">
    <h1 class="inline">Account Settings</h1>
    <a href="/wizard/account-connect" class="btn btn-sm btn-info pull-right">
        <i class="icon-plus"></i>
        Add New
    </a>
</div>

<div class="accounting-settings">
    <div class="row">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h5>
                    Affiliate Accounts
                </h5>
            </div>
            <div class="widget-body">
                <div class="widget-main no-padding">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Account Type</th>
                                <th>Nickname</th>
                                <th>Username/Email</th>
                                <th class="col-md-2">Domain</th>
                                <th class="col-sm-1">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($this->affiliates as $affiliate): ?>
                                <tr id="affiliate-<?php echo $affiliate->id?>" class="affiliate-row-<?php echo $affiliate->disabled ? 'disable' : 'active'?>">
                                    <td>
                                        <?php echo $this->exportResources['affiliate'][$affiliate->source]; ?>
                                    </td>
                                    <td>
                                        <span class="editable" data-pk="<?php echo $affiliate->id ?>" data-type="text"
                                              data-placeholder="Required" id="edit-nickname<?php echo $affiliate->id ?>" data-edit="nickname"
                                              data-resource="affiliate">
                                            <?php echo $affiliate->nickname ?>
                                        </span>
                                    </td>
                                    <td>
                                        <?php echo $affiliate->name; ?>
                                    </td>
                                    <td>
                                        <?php $decryptedCredentials = App_Utils::decryptString(base64_decode($affiliate->credentials));?>
                                        <?php $credentials = unserialize($decryptedCredentials); ?>
                                        <?php echo !empty($credentials['domain']) ? $credentials['domain'] : '' ?>
                                    </td>
                                    <td>
                                        <a href="#" class="green activate-affiliate" data-id="<?php echo $affiliate->id?>" data-resource="affiliate"
                                            title="Enable Sync" data-rel="tooltip">
                                            <i class="icon-ok-circle bigger-130"></i>
                                        </a>
                                        <a href="#" class="grey disable-affiliate" data-id="<?php echo $affiliate->id?>" data-resource="affiliate"
                                            title="Disable Sync" data-rel="tooltip">
                                            <i class="icon-ban-circle bigger-130"></i>
                                        </a>

                                        <a href="#" class="red wizard-delete" data-id="<?php echo $affiliate->id?>" 
                                            data-resource="affiliate" title="Delete Account" data-rel="tooltip">
                                            <i class="icon-trash bigger-130"></i>
                                        </a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div>
    <div class="space-6"></div>
    
    <div class="row">
       <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h5>
                    Ad Platforms
                </h5>
            </div>
            <div class="widget-body">
                <div class="widget-main no-padding">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Account Type</th>
                                <th>Nickname</th>
                                <th>Username/Email</th>
                                <th class="col-md-2">Password</th>
                                <th class="col-sm-1">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($this->ads as $ad): ?>
                                <tr id="ad-<?php echo $ad->id?>" class="ad-row-<?php echo $ad->disabled ? 'disable' : 'active'?>">
                                    <td>
                                        <?php echo $this->exportResources['ad'][$ad->source]; ?>
                                    </td>
                                    <td>
                                        <span class="editable" data-pk="<?php echo $ad->id ?>" data-type="text"
                                              data-placeholder="Required" id="edit-nickname<?php echo $ad->id ?>" data-edit="nickname"
                                              data-resource="ad">
                                            <?php echo $ad->nickname ?>
                                        </span>
                                    </td>
                                    <td>
                                        <?php echo $ad->name; ?>
                                        <?php echo $ad->parent ? "({$ad->parent})" : "" ?>
                                    </td>
                                    <td>
                                        <span class="editable" data-pk="<?php echo $ad->id ?>" data-type="password"
                                              data-placeholder="Required" id="edit-password<?php echo $ad->id ?>" data-edit="password"
                                              data-resource="ad">
                                            *******
                                        </span>
                                    </td>
                                    <td>
                                        <a href="#" class="green activate-ad" data-id="<?php echo $ad->id?>" data-resource="ad"
                                            title="Enable Sync" data-rel="tooltip">
                                            <i class="icon-ok-circle bigger-130"></i>
                                        </a>
                                        <a href="#" class="grey disable-ad" data-id="<?php echo $ad->id?>" data-resource="ad"
                                            title="Disable Sync" data-rel="tooltip">
                                            <i class="icon-ban-circle bigger-130"></i>
                                        </a>
                                        <a href="#" class="red wizard-delete" data-id="<?php echo $ad->id?>" 
                                            data-resource="ad" title="Delete Account" data-rel="tooltip">
                                            <i class="icon-trash bigger-130"></i>
                                        </a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    </div>
</div>