<?php $this->headTitle('User Profile') ?>
<?php $this->headLink()->appendStylesheet('/assets/css/bootstrap-timepicker.css') ?>
<?php $this->headScript()->appendFile('/assets/js/fuelux/fuelux.spinner.min.js') ?>
<?php $this->headScript()->appendFile('/assets/js/date-time/bootstrap-timepicker.min.js') ?>
<?php $this->headScript()->appendFile('/assets/js/date-time/moment.min.js') ?>

<div class="page-header position-relative">
    <h1>User Profile</h1>
</div>

<div class="space"></div>
<form class="form-horizontal" method="post" id="user-profile-form">
    <div class="tabbable">
        <ul class="nav nav-tabs padding-16" id="profileTab">
            <li>
                <a data-toggle="tab" href="#edit-basic">
                    <i class="green icon-edit bigger-125"></i>
                    Basic Info
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#edit-settings">
                    <i class="purple icon-cog bigger-125"></i>
                    Settings
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#edit-password">
                    <i class="blue icon-key bigger-125"></i>
                    Password
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#edit-logo">
                    <i class="red icon-camera bigger-125"></i>
                    Logo
                </a>
            </li>
        </ul>

        <div class="tab-content profile-edit-tab-content">
            <div class="alert alert-block alert-success <?php if(!$this->success): ?>hide<?php endif; ?>" id="profile-saved">
                <p>
                    <strong>
                        <i class="icon-ok"></i>
                        Updated!
                    </strong>
                    Your profile was successfully updated.
                </p>
            </div>

            <div id="edit-basic" class="tab-pane in active">
                <h4 class="header blue bolder smaller">General</h4>

                <div class="form-group">
                    <label class="control-label no-padding-right col-sm-2" for="form-field-username">Username</label>
                    <label class="control-label col-sm-2" style="text-align: left"><?php echo $this->currentUser->username; ?></label>
                </div>

                <?php echo $this->form->getSubForm('edit-basic')->name ?>


                <div class="space"></div>
                <h4 class="header blue bolder smaller">Contact</h4>

                <?php echo $this->form->getSubForm('edit-basic')->email ?>

                <?php echo $this->form->getSubForm('edit-basic')->phone ?>

                <div class="space"></div>
                <h4 class="header blue bolder smaller">Address</h4>

                <?php echo $this->form->getSubForm('edit-basic')->address ?>
                <?php echo $this->form->getSubForm('edit-basic')->zip ?>
                <?php echo $this->form->getSubForm('edit-basic')->city ?>
                <?php echo $this->form->getSubForm('edit-basic')->state ?>

            </div>

            <div id="edit-settings" class="tab-pane">
                <div class="space-10"></div>

                <div class="form-group">
                    <label class="control-label no-padding-right col-sm-2 optional" for="skin-colorpicker">
                        Theme color &nbsp;
                    </label>
                    <div class="col-sm-9">
                        <?php $currentTheme = $this->form->getSubForm('edit-settings')->theme->getValue() ?>
                        <select id="skin-colorpicker" class="hide">
                            <option data-skin="" value="#438EB9" <?php echo (!$currentTheme) ? "selected = 'selected'" : ''?>>
                                #438EB9
                            </option>
                            <option data-skin="skin-1" value="#222A2D" <?php echo ($currentTheme == 'skin-1') ? "selected = 'selected'" : ''?>>
                                #222A2D
                            </option>
                            <option data-skin="skin-2" value="#C6487E" <?php echo ($currentTheme == 'skin-2') ? "selected = 'selected'" : ''?>>
                                #C6487E
                            </option>
                            <option data-skin="skin-3" value="#D0D0D0" <?php echo ($currentTheme == 'skin-3') ? "selected = 'selected'" : ''?>>
                                #D0D0D0
                            </option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="space-8"></div>

                <?php echo $this->form->getSubForm('edit-settings')->default_page ?>
                <?php echo $this->form->getSubForm('edit-settings')->logo_link ?>
                <?php echo $this->form->getSubForm('edit-settings')->theme ?>
                <?php echo $this->form->getSubForm('edit-settings')->show_notifications ?>
                <?php echo $this->form->getSubForm('edit-settings')->login_stat_update ?>
                <?php echo $this->form->getSubForm('edit-settings')->auto_stat_update ?>
                <?php echo $this->form->getSubForm('edit-settings')->stat_update_interval ?>
            </div>

            <div id="edit-password" class="tab-pane">
                <div class="space-10"></div>

               <?php echo $this->form->getSubForm('edit-password')->current_password ?>
               <?php echo $this->form->getSubForm('edit-password')->new_password ?>
               <?php echo $this->form->getSubForm('edit-password')->confirm_password ?>

            </div>

            <div id="edit-logo" class="tab-pane">
                <h4 class="header blue bolder smaller">Custom Logo</h4>

                <div class="form-group <?php if(!$this->currentUser->logo): ?>hide<?php endif; ?>" id="current-logo-block">
                    <label class="control-label no-padding-right col-sm-2 optional">
                        Current logo:
                    </label>
                    <div class="col-sm-9">
                        <img src="/assets/img/logo/<?php echo $this->currentUser->logo ?>" id="current-logo">
                        <a href="#" id="remove-logo">Remove</a>
                        <a href="#" id="upload-new-logo">Change</a>
                    </div>
                </div>

                <div id="add-new-logo" class="<?php if($this->currentUser->logo): ?>hide<?php endif;?>">
                    <div class="alert alert-block alert-danger hide">
                        <p id="validation-error"></p>
                    </div>

                    <div class="form-group">
                        <input type="file" id="logo" name="logo">
                    </div>

                    <div class="hr hr-12 dotted"></div>
                    <p class="help-block">
                        Max image size is 140x25 px<br>
                        Max file size is 2Mb<br>
                        Allowed extensions are .jpg, .png
                    </p>
                </div>

                <div class="space-8"></div>

            </div>
        </div>
    </div>

    <div class="form-actions">
        <?php echo $this->form->form_id ?>
        <button class="btn btn-success" type="submit">
            <i class="icon-ok bigger-110"></i>
            Save
        </button>
    </div>
</form>

<?php $this->headScript()->captureStart() ?>
    $(function() {
        //Auto Stat Update settings:
        $('#stat_update_interval').ace_spinner({value:$('#stat_update_interval').val() * 1, min:20, max:100, step:10, icon_up:'icon-plus', icon_down:'icon-minus', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});
        enableUpdateInterval();
        $('body').on('click', '#auto_stat_update', enableUpdateInterval);

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var id = $(this).attr('href').replace('#', '');
            $('#form_id').val(id);
        })

        <?php if($this->form->form_id->getValue()): ?>
            $('#profileTab a[href="#<?php echo $this->form->form_id->getValue() ?>"]').tab('show');
        <?php else: ?>
            $('#profileTab a:first').tab('show');
        <?php endif; ?>

        $('#skin-colorpicker').change(function() {
            $('#theme').val($(this).find("option:selected").data('skin'));
        })

        var email = $('#email');
        $('#email').closest('.col-sm-9').html('<span class="input-icon input-icon-right" id="email-cover"><i class="icon-envelope"></i></span>');
        $('#email-cover').append(email);

        var phone = $('#phone');
        $('#phone').closest('.col-sm-9').html('<span class="input-icon input-icon-right" id="phone-cover"><i class="icon-phone"></i></span>');
        $('#phone-cover').append(phone);

        $('.alert-success').fadeOut(4000);
    })

    enableUpdateInterval = function() {
        $('#stat_update_interval').closest('.form-group').hide();
        if($('#auto_stat_update').is(':checked')) {
            $('#stat_update_interval').closest('.form-group').show();
        }
    }
<?php $this->headScript()->captureEnd() ?>

<script type="text/javascript">
        $(function() {
            $('#upload-new-logo').click(function(e) {
                e.preventDefault();

                if($('#add-new-logo').hasClass('hide')) {
                    $('#add-new-logo').removeClass('hide');
                } else {
                    $('#add-new-logo').addClass('hide');
                    file_input.ace_file_input('reset_input');
                }
            })

            $('#remove-logo').click(function(e) {
                e.preventDefault();
                var dialog = bootbox.confirm("<span class='bigger-110'>Are you sure you want to delete the logo?</span>",
                    function(result) {
                        if(result) {
                            $.post(
                                '/user/custom-image',
                                {'delete': 1},
                                function(result) {
                                    $('#add-new-logo').removeClass('hide');
                                    $('#current-logo-block').addClass('hide');
                                }
                            )
                        }
                        dialog.modal('hide'); return false;
                    }
                );
            })

            var $form = $('#user-profile-form');
            var file_input = $form.find('input[type=file]');
            var upload_in_progress = false;

            file_input.ace_file_input({
                style : 'well',
                btn_choose : 'Select or drop files here',
                btn_change: null,
                droppable: true,
                thumbnail: 'large',

                before_remove: function() {
                    if(upload_in_progress)
                        return false;//if we are in the middle of uploading a file, don't allow resetting file input
                    $('#validation-error').closest('div').addClass('hide')
                    $('#profile-saved').addClass('hide');
                    return true;
                }
            });

            $form.on('submit', function() {
                if($('#form_id').val() != 'edit-logo') {
                    return true;
                }
                var submit_url = '/user/custom-image';
                if(!file_input.data('ace_input_files')) return false;//no files selected

                var deferred;
                if( "FormData" in window ) {
                    //for modern browsers that support FormData and uploading files via ajax
                    var fd = new FormData($form.get(0));

                    //if file has been drag&dropped , append it to FormData
                    if(file_input.data('ace_input_method') == 'drop') {
                        var files = file_input.data('ace_input_files');
                        if(files && files.length > 0) {
                            fd.append(file_input.attr('name'), files[0]);
                            //to upload multiple files, the 'name' attribute should be something like this: myfile[]
                        }
                    }

                    upload_in_progress = true;
                    deferred = $.ajax({
                        url: submit_url,
                        type: $form.attr('method'),
                        processData: false,
                        contentType: false,
                        dataType: 'json',
                        data: fd,
                        xhr: function() {
                            var req = $.ajaxSettings.xhr();
                            if (req && req.upload) {
                                req.upload.addEventListener('progress', function(e) {
                                    if(e.lengthComputable) {
                                        var done = e.loaded || e.position, total = e.total || e.totalSize;
                                        var percent = parseInt((done/total)*100) + '%';
                                        //percentage of uploaded file
                                    }
                                }, false);
                            }
                            return req;
                        },
                        beforeSend : function() {
                        },
                        success : function() {
                        }
                    })
                }
                else {
                    //for older browsers that don't support FormData and uploading files via ajax
                    //we use an iframe to upload the form(file) without leaving the page
                    upload_in_progress = true;
                    deferred = new $.Deferred

                    var iframe_id = 'temporary-iframe-'+(new Date()).getTime()+'-'+(parseInt(Math.random()*1000));
                    $form.after('<iframe id="'+iframe_id+'" name="'+iframe_id+'" frameborder="0" width="0" height="0" src="about:blank" style="position:absolute;z-index:-1;"></iframe>');
                    $form.append('<input type="hidden" name="temporary-iframe-id" value="'+iframe_id+'" />');
                    $form.next().data('deferrer' , deferred);//save the deferred object to the iframe
                    $form.attr({'method' : 'POST', 'enctype' : 'multipart/form-data',
                                'target':iframe_id, 'action':submit_url});

                    $form.get(0).submit();

                    //if we don't receive the response after 60 seconds, declare it as failed!
                    setTimeout(function(){
                        var iframe = document.getElementById(iframe_id);
                        if(iframe != null) {
                            iframe.src = "about:blank";
                            $(iframe).remove();

                            deferred.reject({'status':'fail','message':'Timeout!'});
                        }
                    } , 60000);
                }

                $('#validation-error').closest('div').addClass('hide')
                $('#profile-saved').addClass('hide');
                deferred.done(function(result){
                    upload_in_progress = false;

                    if(result.status == 1) {
                        $('#current-logo').attr('src', result.url+"?" + new Date().getTime());
                        $('#add-new-logo').addClass('hide');
                        file_input.ace_file_input('reset_input');

                        $('#profile-saved, #current-logo-block').removeClass('hide');
                        $('.alert-success').fadeOut(4000);
                    } else {
                        $('#validation-error').html("File not saved. " + result.message).closest('div').removeClass('hide');
                    }
                }).fail(function(res){
                    upload_in_progress = false;
                    $('#validation-error').html("There was an error").closest('div').removeClass('hide');
                });

                deferred.promise();
                return false;
            });
        });
    </script>