<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <style type="text/css">
            img{border:0; height:auto; outline:none; text-decoration:none;}
            table td{border-collapse:collapse;}
            #backgroundTable{height:100% !important; margin:0; padding:0; background-color:#F5F5F5;}
            a {color: #4C8FBD; text-decoration: none;}
        </style>
    </head>
    <body>
        <center>
            <table border="0" cellpadding="10" cellspacing="0" width="100%" id="backgroundTable" style="background-color:#F5F5F5;">
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="5" cellspacing="0" width="90%">
                            <tr>
                                <td>
                                    <table border="0" cellpadding="3" cellspacing="0" width="100%" 
                                           style="background-color: #438EB9; border: #438EB9 1px solid; -moz-border-radius: 10px 10px 0px 0px;
                                            -webkit-border-radius: 10px 10px 0px 0px; border-radius: 10px 10px 0px 0px"
                                     >
                                        <tr>
                                            <td width="20px">&nbsp;</td>
                                            <td>
                                                <a href="<?php echo SERVER_URL?>">
                                                    <img src="<?php echo SERVER_URL?>/assets/img/logo/logo-white-small.png" style="margin-top:5px"
                                                         border="0" alt="" width="132px">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="100%" style="background-color: #FFF; border: #438EB9 1px solid; font-size: 14px; 
                                       color: #393939; font-family: 'Open Sans';">
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td width="50px">&nbsp;</td>
                                            <td>
                                                <?php echo $this->render($this->template.'.phtml'); ?>
                                            </td>
                                            <td width="50px">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>