<?php if($this->deliveryFields): ?>
    <?php foreach($this->deliveryFields as $fieldName => $fieldValue): ?>
        <b><?php echo $fieldName ?></b>: <?php echo $fieldValue ?><br />
    <?php endforeach; ?>
<?php endif; ?>