<p>
    Hello, <?php echo $this->user->username ?>
</p>

To reset you password go to 
<a href="<?php echo $this->serverUrl();?>/reset-password/<?php echo $this->user->reset_password_hash?>">
    <strong>Reset Password</strong>
</a>
<br>
or enter following url to your browser:<br>
<?php echo $this->serverUrl();?>/reset-password/<?php echo $this->user->reset_password_hash?>